<!DOCTYPE html>

<html layout:decorate="~{core-ui:layouts/general.html(path='/calendar')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Calendar</title>
</head>
<body>

<div layout:fragment="content">

    <div class="ui cards">
        <div th:each="calendar : ${calendars}" class="card">
            <div class="content">
                <div class="header" th:text="${calendar.name}" ></div>
                <div class="meta"> <i class="users icon"></i> Public</div>
                <div class="ui negative basic button delete" >
                    <i class="remove alternate icon"></i>
                    Remove
                </div>
            </div>
        </div>
    </div>


    <div class="ui segment">

        <form class="ui form" enctype="multipart/form-data" method="post" action="">
            <div class="field">
                <label>Calendar Name</label>
                <input type="text" name="first-name" placeholder="Jours fériés">
            </div>
            <div class="field">
                <label>ICS File</label>
                <div>
                    <input type="text" placeholder="jour_feries.ics" readonly>
                    <input type="file" name="iCalFile" style="display: none" accept=".ics">
                </div>
            </div>
            <button class="ui button" type="submit">Import</button>
        </form>

    </div>

    <script src="/calendar/static/calendar.js"></script>
</div>

</body>
</html>