<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/account')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">Vacation</title>
    <meta property="vacations" th:actorID="${actor.id}"/>
</head>

<body>

<div class="ui negative message" th:if="${error}">
    <i class="close icon"></i>
    <div class="header" th:text="${error}">
    </div>
</div>
<div class="ui positive message" th:if="${message}">
    <i class="close icon"></i>
    <div class="header" th:text="${message}">

    </div>
</div>

<div layout:fragment="content">
    <div id="vacationApp">
        <div class="ui negative hidden message " >
            <i class="close icon"></i>
            <div class="header" >
                {{ formError }}
            </div>
        </div>


        <div class="ui menu">
            <a class="item"  v-on:click="openModal" >
                <i class="plus icon"></i>
                New Vacation
            </a>
            <a class="item"  v-on:click="openRecursiveModal" >
                <i class="plus icon"></i>
                New Recursive Vacation
            </a>
        </div>

        <div v-if="toValidateRequestsListData.length" class="ui horizontal divider"><i class="clock icon"></i>
            Vacations requests to Validate
        </div>
        <data-table v-bind:table="toValidateRequestsListData" v-bind:config="toValidateRequestsListConfig">
            <template v-slot:label="{row}">
                {{ row.label }}
            </template>
            <template v-slot:start="{row}">
                {{ new Date(row.start).toLocaleString().substring(0,10) }}
                <div class="ui horizontal label">{{ (row.halfStart ? 'Afternoon' : 'Morning') }}</div>
            </template>
            <template v-slot:end="{row}">
                {{ new Date(row.end).toLocaleString().substring(0,10) }}
                <div class="ui horizontal label">{{ (row.halfEnd ? 'Morning' : 'Afternoon') }}</div>
            </template>
            <template v-slot:applicant="{row}">
                {{ row.applicantName }}
            </template>
            <template v-slot:recursive="{row}">
                <a v-if="row.recurrenceDay === 1" class="ui blue circular label">M</a>
                <a v-else-if="row.recurrenceDay === 2" class="ui blue circular label">T</a>
                <a v-else-if="row.recurrenceDay === 3" class="ui blue circular label">W</a>
                <a v-else-if="row.recurrenceDay === 4" class="ui blue circular label">T</a>
                <a v-else-if="row.recurrenceDay === 5" class="ui blue circular label">F</a>
                <a v-else class="ui circular label">X</a>
            </template>
            <template v-slot:actions="{row}">
                <button class="ui positive button icon" v-on:click="approveRequest(row)">
                    <i class="check alternate icon"></i>
                    Approve
                </button>
                <button class="ui negative button icon" v-on:click="rejectRequest(row)">
                    <i class="remove alternate icon"></i>
                    Deny
                </button>
            </template>
        </data-table>


        <div v-if="myRequestsListData.length" class="ui horizontal divider"><i class="boxes icon"></i>
            My vacation requests
        </div>
        <data-table v-bind:table="myRequestsListData" v-bind:config="myRequestsListConfig">
            <template v-slot:label="{row}">
                {{ row.label }}
            </template>
            <template v-slot:start="{row}">
                {{ new Date(row.start).toLocaleString().substring(0,10) }}
                <div class="ui horizontal label">{{ (row.halfStart ? 'Afternoon' : 'Morning') }}</div>
            </template>
            <template v-slot:end="{row}">
                {{ new Date(row.end).toLocaleString().substring(0,10) }}
                <div class="ui horizontal label">{{ (row.halfEnd ? 'Morning' : 'Afternoon') }}</div>
            </template>
            <template v-slot:assignee="{row}">
                {{ row.assigneeName }}
            </template>
            <template v-slot:recursive="{row}">
                <a v-if="row.recurrenceDay === 1" class="ui blue circular label">M</a>
                <a v-else-if="row.recurrenceDay === 2" class="ui blue circular label">T</a>
                <a v-else-if="row.recurrenceDay === 3" class="ui blue circular label">W</a>
                <a v-else-if="row.recurrenceDay === 4" class="ui blue circular label">T</a>
                <a v-else-if="row.recurrenceDay === 5" class="ui blue circular label">F</a>
                <a v-else class="ui circular label">X</a>
            </template>
            <template v-slot:status="{row}">
                <button v-if="row.status == 'ACCEPTED'"   class="ui disabled green icon button">
                    <i class="check icon"></i>
                    Accepted
                </button>
                <button v-else-if="row.status == 'REJECTED'" class="ui disabled negative icon button">
                    <i class="close icon"></i>
                    Rejected
                </button>
                <button v-else class="ui disabled yellow icon button">
                    <i class="clock outline icon"></i>
                    Pending
                </button>
            </template>
            <template v-slot:actions="{row}">
                <button :class="{ disabled : (row.status !== 'ACCEPTED') && (new Date(row.end).getTime() < new Date().getTime()) }"
                        class="ui negative button icon" v-on:click="cancelRequest(row)">
                    <i class="remove alternate icon"></i>
                    Cancel
                </button>
            </template>

        </data-table>


        <div class="ui three item menu">
            <a @click="calendarYear--" class="active item">
                <i class="icon big arrow circle left"></i>
            </a>
            <a class="item">
                {{ calendarYear }}
            </a>
            <a @click="calendarYear++" class="item">
                <i class="icon big arrow circle right"></i>
            </a>
        </div>

        <year-calendar :year="calendarYear"  :events="calendarData"></year-calendar>


        <tmodal-confirm
                ref="confirmModal"
                title="Cancel vacation request ?"
                icon="close"
        ></tmodal-confirm>

        <tmodal
                title="Request vacation"
                id="newVacation">
            <template v-slot:content>
                <form class="ui form">
                    <div class="ui error message"></div>
                    <div class="two fields">
                        <div class="field">
                            <label>Departure Date</label>
                            <input type="date" name="start-date" placeholder="Departure date" v-model="vacationRequest.start">
                            <div class="inline fields" style="padding-top: 1rem;">
                                <div class="field">
                                    <div class="ui buttons">
                                        <a @click="vacationRequest.halfStart = false" :class="{ blue : !vacationRequest.halfStart }" class="ui button">Morning</a>
                                        <a @click="vacationRequest.halfStart = true" :class="{ blue : vacationRequest.halfStart }" class="ui button">Afternoon</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Return Date</label>
                            <input type="date" name="end-date" :min="vacationRequest.start" placeholder="Return date" v-model="vacationRequest.end">
                            <div class="inline fields" style="padding-top: 1rem;">
                                <div class="field">
                                    <div class="ui buttons">
                                        <a @click="vacationRequest.halfEnd = true" :class="{ blue : vacationRequest.halfEnd }" class="ui button">Morning</a>
                                        <a @click="vacationRequest.halfEnd = false" :class="{ blue : !vacationRequest.halfEnd }" class="ui button">Afternoon</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Label</label>
                            <input type="text" name="label" placeholder="Label" v-model="vacationRequest.label">
                        </div>
                        <div class="field">
                            <label>User to notify</label>
                            <input class="hidden" style="display: none" v-model="vacationRequest.assigneeID" name="assignee" type="text">
                            <div class="ui category search">
                                <div class="ui icon input">
                                    <input class="prompt" name="assignee" placeholder="Search account..." type="text">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="ui positive button"  @click="addVacationRequest">Request new vacation</button>

            </template>
        </tmodal>

        <tmodal
                title="Request recursive vacation"
                id="newRecursiveVacation">
            <template v-slot:content>
                <form class="ui form">
                    <div class="ui error message"></div>
                    <div class="two fields">
                        <div class="field">
                            <label>Start of recurrence</label>
                            <input type="date" name="start-date" placeholder="Departure date" v-model="vacationRequest.start">

                        </div>
                        <div class="field">
                            <label>End of recurrence</label>
                            <input type="date" name="end-date" :min="vacationRequest.start" placeholder="Return date" v-model="vacationRequest.end">

                        </div>

                    </div>
                    <div class="two fields">
                        <div class="inline fields" style="padding-top: 1rem;">

                            <div class="field">
                                <div class="ui buttons">
                                    <a @click="vacationRequest.recurrenceType = 'MORNING'" :class="{ blue : vacationRequest.recurrenceType === 'MORNING', active : vacationRequest.recurrenceType === 'FULL'}" class="ui button">Morning</a>
                                    <a @click="vacationRequest.recurrenceType = 'FULL'" :class="{ blue : vacationRequest.recurrenceType === 'FULL' }" class="ui button">Full day</a>
                                    <a @click="vacationRequest.recurrenceType = 'AFTERNOON'" :class="{ blue : vacationRequest.recurrenceType === 'AFTERNOON', active : vacationRequest.recurrenceType === 'FULL'}" class="ui button">Afternoon</a>
                                </div>
                            </div>

                        </div>
                        <div class="field">
                            <label>Repeat every week on</label>
                            <a @click="vacationRequest.recurrenceDay = 1" :class="{ blue : (vacationRequest.recurrenceDay === 1) }" class="ui circular label">M</a>
                            <a @click="vacationRequest.recurrenceDay = 2" :class="{ blue : (vacationRequest.recurrenceDay === 2) }" class="ui circular label">T</a>
                            <a @click="vacationRequest.recurrenceDay = 3" :class="{ blue : (vacationRequest.recurrenceDay === 3) }" class="ui circular label">W</a>
                            <a @click="vacationRequest.recurrenceDay = 4" :class="{ blue : (vacationRequest.recurrenceDay === 4) }" class="ui circular label">T</a>
                            <a @click="vacationRequest.recurrenceDay = 5" :class="{ blue : (vacationRequest.recurrenceDay === 5) }" class="ui circular label">F</a>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Label</label>
                            <input type="text" name="label" placeholder="Label" v-model="vacationRequest.label">
                        </div>
                        <div class="field">
                            <label>User to notify</label>
                            <input class="hidden" style="display: none" v-model="vacationRequest.assigneeID" name="assignee" type="text">
                            <div class="ui category search">
                                <div class="ui icon input">
                                    <input class="prompt" name="assignee" placeholder="Search account..." type="text">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>

                </form>
                <button class="ui positive button"  @click="addVacationRequest">Request new vacation</button>

            </template>
        </tmodal>

    </div>
    <script src="/js/vacations.js"></script>
</div>
</div>

</body>
</html>