<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/timesheet')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<body>

<div layout:fragment="content">

    <div class="ui segment">
        <h4 class="ui dividing header">Create Organization</h4>

        <div class="ui negative message" th:if="${error}">
            <i class="close icon"></i>
            <div class="header">
                Failed to create organization
            </div>
            <p th:text="${error}">:(</p>
        </div>
        <form action="" class="ui form" enctype="application/x-www-form-urlencoded" method="post">
            <div class="field">
                <label>Organization Name</label>
                <input name="organizationName" placeholder="Organization Name" required type="text">
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>