<!DOCTYPE html>

<html layout:decorate="~{details_org_layout.html(tab='members')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta property="organization" th:orgID="${organization.id}" th:baseURL="@{${'/org/'+tab}}"/>
</head>
<body>

<div layout:fragment="placeholder" id="members">

    <div class="field">
        <div class="ui category search">
            <div class="ui labeled right input">
                <div class="ui label">
                    Add member <i class="plus icon"></i>
                </div>
                <input class="prompt" placeholder="Search account..." type="text">
            </div>
            <div class="results"></div>
        </div>
    </div>
    <h4 class="ui dividing header">Organization Members</h4>

    <div class="ui center aligned segment">
        <a th:each="parent : ${parents}"  th:text="${parent.screenName}" class="ui button" th:href="@{${'/org/'+tab}(orgID=${parent.id})}"></a>
        <a th:text="${organization.screenName}" class="ui horizontal divider" >Name</a>
        <a v-for="member  in members " v-if="member.isOrganization == true" v-bind:href="baseURL+'?orgID='+member.id" class="primary ui button">{{member.screenName}}</a>
    </div>
    <h4 class="ui dividing header">User Members</h4>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="member in members" v-if="member.isOrganization == false" >
                <td >{{member.screenName}}</td>
                <td>
                    <select v-model="member.role"  @change="updateRole($event, member)">
                        <option th:each="role : ${roles}"
                            th:text="${role}"
                            th:value="${role}"></option>
                    </select>
                </td>
                <td>
                    <button @click="removeMember($event, member)" class="ui tiny negative icon button">
                        Remove <i class="close icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="/js/org_members.js"></script>

</div>

</body>
</html>