<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/org')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<body>

<div layout:fragment="content">

    <div class="ui center aligned segment">
        <a th:each="parent : ${parents}"  th:text="${parent.screenName}" class="ui button" th:href="@{${'/org/'+tab}(orgID=${parent.id})}"></a>
        <a th:text="${organization.screenName}" class="ui horizontal divider" >Name</a>
        <a th:each="member : ${members}" th:if="${member.isOrganization == true}" th:href="@{${'/org/'+tab}(orgID=${member.id})}" th:text="${member.screenName}" class="primary ui button"></a>
    </div>
    <div class="ui attached pointing menu">
        <a class="item" th:classappend="${tab} == 'config'  ? 'active':''"
           th:href="@{/org/config(orgID=${organization.id})}">Setup</a>
        <a class="item" th:classappend="${tab} == 'members'  ? 'active':''"
           th:href="@{/org/members(orgID=${organization.id})}">Members</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first" layout:fragment="placeholder">

    </div>


</div>

</body>
</html>