<!DOCTYPE html>

<html layout:decorate="~{details_org_layout.html(tab='config')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<body>

<div layout:fragment="placeholder">

    <h4 class="ui dividing header">Global</h4>
    <form action="" class="ui form" enctype="application/x-www-form-urlencoded" method="post">
        <div class="field">
            <label>Organization Name</label>
            <input name="organizationName" placeholder="Organization Name" required type="text" th:value="${organization.name}">
        </div>
        <div class=" two fields">
            <div class="field">
                <label>Creation Date</label>
                <input v-model="task.startDate" name="taskStartDate" placeholder="Task Name"
                       required  type="date">
            </div>
            <div class="field">
                <label>Closure Date</label>
                <input v-model="task.endDate" name="taskEndDate" placeholder="Task Name" required
                       type="date">
            </div>
        </div>
        <button class="ui primary create-task icon button" type="submit" >
            Save config <i class="cog icon"></i>
        </button>

        <h4 class="ui dividing header">Task types</h4>
    </form>

</div>

</body>
</html>