<!DOCTYPE html>

<html layout:decorate="~{org_layout.html(tab='members')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta property="organization" th:baseURL="@{${'/org/'+tab}}" th:orgID="${organization.id}"/>
</head>
<body>

<div  layout:fragment="placeholder">
    <div id="members" >
        <div class="field">
            <div class="ui category search">
                <div class="ui labeled right input">
                    <div class="ui label">
                        Add member <i class="plus icon"></i>
                    </div>
                    <input class="prompt" placeholder="Search account..." type="text">
                </div>
                <div class="results"></div>
            </div>
        </div>
        <!-- h4 class="ui dividing header">Organization Members</h4>

        <div class="ui center aligned segment">
            <div th:each="parent : ${parents}" class="ui button" tabindex="0">
                <a th:text="${parent.screenName}" th:href="@{${'/org/'+tab}(orgID=${parent.id})}" class="ui basic label"> </a>
            </div>

            <a th:text="${organization.name}" class="ui horizontal divider" >Name</a>
            <div v-for="member  in members " v-if="member.isOrganization == true" class="ui left labeled primary button" tabindex="0">
                <a  v-bind:href="baseURL+'?orgID='+member.id" class="ui basic label">
                    {{member.screenName}}
                </a>
                <a @click="removeMember($event, member)" class="ui icon button">
                    <i class="close icon"></i>
                </a>
            </div>
        </div-->
        <h4 class="ui dividing header">User Members</h4>

        <table class="ui tablet unstackable table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Since</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="member in members">
                <td>{{member.screenName}}</td>
                <td>
                    <div class="ui input">
                        <input type="date" @change="updateRole($event, member)" v-model="member.creationDate" class="ui" />
                    </div>
                </td>
                <td>
                    <select class="ui dropdown" @change="updateRole($event, member)" v-model="member.role">
                        <option th:each="role : ${roles}"
                                th:text="${role}"
                                th:value="${role}"></option>
                    </select>
                </td>
                <td>
                    <button @click="removeMember($event, member)" class="ui tiny negative icon button">
                        Remove <i class="close icon"></i>
                    </button>
                    <button @click="impersonateMember($event, member)" class="ui tiny teal button">
                        Impersonate
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/org_members.js"></script>

</div>

</body>
</html>