<!DOCTYPE html>

<html layout:decorate="~{org_layout.html(tab='members')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title th:text="#{org.members}"></title>
    <meta property="organization" th:baseURL="@{${'/org/'+tab}}" th:orgID="${organization.id}"/>
</head>
<body>

<div  layout:fragment="placeholder">
    <div id="members" >
        <div class="field">
            <div class="ui category search">
                <div class="ui labeled right input">
                    <div class="ui label">
                        Add member <i class="plus icon"></i>
                    </div>
                    <input class="prompt" placeholder="Existing account email..." type="text">
                </div>
                <div class="results"></div>
            </div>
        </div>
        <h4 class="ui dividing header">User Members</h4>

        <table class="ui tablet unstackable table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Since</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="member in members">
                <td>{{member.screenName}}</td>
                <td>


                    <div v-if="member.edition" class="ui input">
                        <input type="date" v-model="member.creationDate"/>
                    </div>
                    <span v-else>{{ member.creationDate }}</span>
                </td>
                <td>
                    <select v-if="member.edition" class="ui dropdown" v-model="member.role">
                        <option th:each="role : ${roles}"
                                th:text="${role}"
                                th:value="${role}"></option>
                    </select>
                    <span v-else>{{ member.role }}</span>
                </td>
                <td>
                    <button v-if="!member.edition" @click="removeMember($event, member)" class="ui negative icon button ">
                        Remove
                        <i class="close icon"></i>
                    </button>
                    <button v-if="!member.edition"  @click="impersonateMember($event, member)" class="ui yellow icon button ">
                        Act on behalf
                        <i class="user secret icon"></i>
                    </button>
                    <button v-if="member.edition" class="ui positive icon button " @click="updateRole($event, member)">
                        Save
                        <i class="save alternate icon"></i>
                    </button>
                    <button v-else class="ui blue icon button " @click="member.edition = true">
                        Edit
                        <i class="edit alternate icon"></i>
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
        <tmodal-confirm
                ref="confirmModal"
                title="Remove member ?"
                icon="close"
        ></tmodal-confirm>
    </div>

    <script src="/js/org_members.js"></script>

</div>

</body>
</html>