<!DOCTYPE html>

<html layout:decorate="~{details_project_layout.html(tab='first')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Project</title>
</head>
<body>


<div layout:fragment="placeholder">

    <script type="text/javascript">
        var removeUser = function(userID){
            $("#"+userID).remove();
        }

        var removeConfig = function(configKey){
            $("[data-key="+configKey+"]").remove();
        }
    </script>

    <div class="ui stackable two column grid">
        <div class="column">
            <form th:action="@{'setup/informations'}" th:object="${projectConfigForm}" name="projectConfig"
                  class="ui form"
                  enctype="application/x-www-form-urlencoded" method="post">

                <h4 class="ui dividing header">Project Informations</h4>
                <div class="field">
                    <label>Project Name</label>
                    <input name="projectName" placeholder="Project Name" required th:field="*{name}"
                           type="text">
                </div>
                <div class="field">
                    <label>Project Quotation</label>
                    <input name="projectQuotation" required th:field="*{quotation}"
                           type="number">
                </div>
                <div class="field">
                    <label>Project Description</label>
                    <textarea name="projectDescription" placeholder="Project Description"
                              th:field="*{comments}">
                    </textarea>
                </div>


                <button class="ui positive button" type="submit" style="margin-top:1em">Save</button>
            </form>
        </div>
        <div class="column">
            <form th:action="@{'setup/members'}" th:object="${projectMembersForm}" name="projectMembers" class="ui form"
                  enctype="application/x-www-form-urlencoded" method="post">

                <h4 class="ui dividing header">Members</h4>
                <div class="field">
                    <div class="ui category search">
                        <div class="ui icon input">
                            <input class="prompt" placeholder="Search account..." type="text">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <div th:each="membership : *{memberships}">
                        <div th:text="${membership.member.screenName}"></div>
                        <div th:text="${membership.role}"></div>
                    </div>
                </div>

                <button class="ui positive button" type="submit" style="margin-top:1em">Save</button>
            </form>
        </div>
    </div>
    <script>
/*<![CDATA[*/
        $('.ui.checkbox')
          .checkbox();

        $('.message .close')
         .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
        })
        ;

        $('.delete[data-key]').click(function(){
        console.log("delete");
            $('tr[data-key="'+$(this).attr('data-key')+'"]').remove();
        });


        var roles = [(${rolesForNewMember})]
        $('.ui.search')
            .search({
                apiSettings: {
                        url: '/search?q={query}'
                    },
                    fields: {
                        results : 'items',
                        title   : 'screenName',
                        description :'email'
                    },
                    onSelect: function(result, response) {
                        $('#members').find('tbody')
                            .append($('<tr id='+result.id+'>')
                                .append($('<td>').append(result.screenName))
                                .append($('<td>')
                                    .append($('<select id="mySelect" name="members['+result.id+']">'))
                                )
                                .append($('<td>')
                                    .append($('<button class="ui negative basic button" onclick="removeUser('+result.id+')">')
                                        .append($('<i class="remove alternate icon">'))
                                        .append("Remove")
                                    )
                                )
                            )
                        $.each(roles, function(key, value) {
                             $('#mySelect')
                                 .append($("<option></option>")
                                 .attr("value",value)
                                 .text(value));
                        });
                    },
                    minCharacters : 3
            });
/*]]>*/




    </script>
</div>

</body>
</html>