<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/general.html :: main-fragment(
                                                '/projects',
                                                ~{::title},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
</head>
<body>

<div id="home-main-content">

    <script type="text/javascript">
        var removeUser = function(userID){
            $("#"+userID).remove();
        }

    </script>
    <form action="" class="ui form" enctype="application/x-www-form-urlencoded" id="projects" method="post">
        <input name="projectId" required th:value="${project.id}" type="hidden">

        <h4 class="ui dividing header">Project Informations</h4>
        <div class="field">
            <label>Project Name</label>
            <input name="projectName" placeholder="Project Name" required th:value="${project.name}" type="text">
        </div>

        <h4 class="ui dividing header">Members</h4>
        <div class="field">
            <div class="ui category search">
                <div class="ui icon input">
                    <input class="prompt" placeholder="Search user..." type="text">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <table class="ui tablet unstackable table" id="members" th:if="${members.size()>0}">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="membership : ${members}" th:id="${membership.member.id}">
                    <td th:text="${membership.member.name}">
                    </td>
                    <td>
                        <select th:name="'members['+${membership.member.id}+']'">
                            <option th:each="role : ${roles}" th:selected="${role == membership.role}" th:text="${role}"
                                    th:value="${role}"></option>
                        </select>
                    </td>
                    <td>
                        <button class="ui button" th:onclick="'removeUser('+${membership.member.id}+')'">
                            <i class="remove alternate icon"></i>
                            Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <script>

        $('.ui.search')
            .search({
                apiSettings: {
                        url: '/search?q={query}'
                    },
                    fields: {
                        results : 'items',
                        title   : 'name',
                        description : 'email'
                    },
                    onSelect: function(result, response) {
                        $('#projects').append("<input type='text' name='members["+result.id+"]' />");
                        $('#projects').submit();
                    },
                minCharacters : 3
            });

    </script>
</div>

</body>
</html>