<!DOCTYPE html>

<html layout:decorate="~{core-ui:layouts/general.html(path='/projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<body>

<div layout:fragment="content">


    <div class="ui top attached tabular menu">
        <a class="item" th:classappend="${tab} == 'first'  ? 'active':''"
           th:href="@{/projects/config(projectID=${project.id})}">Setup</a>
        <a class="item" th:classappend="${tab} == 'second'  ? 'active':''"
           th:href="@{/projects/tasks(projectID=${project.id})}">Tasks</a>
        <a class="item" th:classappend="${tab} == 'fourth'  ? 'active':''"
           th:href="@{/projects/dashboard(projectID=${project.id})}">Dashboard</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first" layout:fragment="placeholder">

    </div>


</div>

</body>
</html>