<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<body>

<div layout:fragment="content">

    <div class="ui attached pointing menu">
        <a class="item" ><span class="primary bold text" th:text="${project.name}"></span></a>
        <a class="item" th:classappend="${tab} == 'first'  ? 'active':''"
           th:href="@{/projects/{projectID}/setup(projectID=${project.id})}">Setup</a>
        <a class="item" th:classappend="${tab} == 'second'  ? 'active':''"
           th:href="@{/projects/{projectID}/tasks(projectID=${project.id})}">Tasks</a>
        <a class="item" th:classappend="${tab} == 'third'  ? 'active':''"
           th:href="@{/projects/{projectID}/milestones(projectID=${project.id})}">Milestones</a>
        <a class="item" th:classappend="${tab} == 'fourth'  ? 'active':''"
           th:href="@{/projects/{projectID}/dashboard(projectID=${project.id})}">Dashboard</a>
        <a class="item" th:classappend="${tab} == 'five'  ? 'active':''"
           th:href="@{/projects/{projectID}/tags(projectID=${project.id})}">Tags</a>
        <div class="right menu">
            <a style="font-weight: bold;" th:text="${project.name}" class="ui item primary">
            </a>
        </div>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first" layout:fragment="placeholder">

    </div>


</div>

</body>
</html>