<!DOCTYPE html>

<html layout:decorate="~{details_project_layout.html(tab='first')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Project</title>
    <meta name="projectID" th:content="${project.id}"/>
</head>
<body>


<div layout:fragment="placeholder">

    <script type="text/javascript">

        var updateUser = function(membershipID, role){
            var path = '/projects/'+$("meta[name=projectID]").attr("content")+'/setup/memberships/'+membershipID+'/'+role;
            $.ajax({
                url: path,
                type: 'PATCH',
                success: function(result) {
                    document.location.reload(true);
                }
            });
        }

        var removeUser = function(membershipID){
            var path = '/projects/'+$("meta[name=projectID]").attr("content")+'/setup/memberships/'+membershipID;

            $.ajax({
                url: path,
                type: 'DELETE',
                success: function(result) {
                    document.location.reload(true);
                }
            });

        }

        var removeConfig = function(configKey){
            $("[data-key="+configKey+"]").remove();
        }

    </script>

    <div class="ui stackable two column grid">
        <div class="column">
            <form class="ui form"
                  enctype="application/x-www-form-urlencoded" method="post"
                  name="projectConfig"
                  th:action="@{projects/{projectID}/setup/informations(projectID=${projectID})}" th:object="${projectConfigForm}">

                <h4 class="ui dividing header">Project Informations</h4>
                <div class="field">
                    <label>Project Name</label>
                    <input name="projectName" placeholder="Project Name" required th:field="*{name}"
                           type="text">
                </div>
                <div class="field">
                    <label>Project Quotation</label>
                    <input name="projectQuotation" required th:field="*{quotation}"
                           type="number">
                </div>
                <div class="field">
                    <label>Project Description</label>
                    <textarea name="projectDescription" placeholder="Project Description"
                              th:field="*{comments}">
                    </textarea>
                </div>


                <button class="ui positive button" style="margin-top:1em" type="submit">Save</button>
            </form>
        </div>
        <div class="column">
            <div class="ui form" name="projectMembers">

                <h4 class="ui dividing header">Members</h4>
                <div class="field">
                    <div class="ui category search">
                        <div class="ui icon input">
                            <input class="prompt" placeholder="Search account..." type="text">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <table class="ui celled table" id="members">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="membership, status : ${projectMembersForm.memberships}"
                            th:id="${membership.membershipID}">
                            <td th:text="${membership.member.screenName}"></td>
                            <td>
                                <select th:field="${projectMembersForm.memberships[__${status.index}__].role}"
                                        th:onchange="'updateUser('+${membership.membershipID}+', this.value)'">
                                    <option th:each="role : ${roles}" th:selected="${role == membership.role}"
                                            th:text="${role}"
                                            th:value="${role}"></option>
                                </select>
                            </td>
                            <td>
                                <button class="ui negative basic button" th:if="${membership.member.id != account.id}"
                                        th:onclick="'removeUser('+${membership.membershipID}+')'">
                                    <i class="remove alternate icon"></i>
                                    Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
/*<![CDATA[*/
        $('.ui.checkbox')
          .checkbox();

        $('.message .close')
         .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
        })
        ;

        $('.delete[data-key]').click(function(){
        console.log("delete");
            $('tr[data-key="'+$(this).attr('data-key')+'"]').remove();
        });


        var roles = [(${rolesForNewMember})]
        $('.ui.search')
            .search({
                apiSettings: {
                        url: '/api/search?q={query}'
                    },
                    fields: {
                        results : 'items',
                        title   : 'screenName',
                        description :'email'
                    },
                    onSelect: function(result, response) {
                        $.post('/projects/'+$("meta[name=projectID]").attr("content")+'/setup/memberships', {
                            memberID: result.id
                        }).done(function(){
                            document.location.reload(true);
                        });
                    },
                    minCharacters : 3
            });
/*]]>*/





    </script>
</div>

</body>
</html>