<!DOCTYPE html>

<html layout:decorate="~{projects:details_project_milestones.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Project Milestones details</title>
</head>
<body>

<div th:fragment="milestone-config-links" th:if="${milestone != null && milestone.id != null}">

    <form action="/projects/milestones/config-links" class="ui form segment" enctype="application/x-www-form-urlencoded" id="milestoneLinksForm"
          method="post" style="margin-left:1em;">
        <input name="milestoneID" required th:value="${milestone.id}" type="hidden">
        <input name="projectID" required th:value="${project.id}" type="hidden">

        <h5>Choose tasks for milestone:</h5>
        <div class="field" style="display:block;max-height:1000px;overflow-y: scroll;">
            <table class="ui unstackable table">
                <thead>
                <tr>
                    <th></th>
                    <th>Task Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${allProjectTasks}">
                    <td>
                        <input type="checkbox" name="taskSelected" th:value="${task.id}" th:checked="${taskIdsByMilestone.contains(task.id)}"/>
                    </td>
                    <td>
                        <a th:text="${task.name}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button class="ui positive button" type="submit">Save</button>

    </form>

</div>

</body>
</html>