<!DOCTYPE html>

<html layout:decorate="~{details_project_layout.html(tab='first')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Project</title>
</head>
<body>

<div layout:fragment="placeholder">

    <script type="text/javascript">
        var removeUser = function(userID){
            $("#"+userID).remove();
        }

        var removeConfig = function(configKey){
            $("[data-key="+configKey+"]").remove();
        }



    </script>


    <form action="" class="ui form" enctype="application/x-www-form-urlencoded" id="projects" method="post">
        <input name="projectID" required th:value="${project.id}" type="hidden">

        <div class="ui stackable two column grid">
            <div class="column">
                <h4 class="ui dividing header">Project Informations</h4>
                <div class="field">
                    <label>Project Name</label>
                    <input name="projectName" placeholder="Project Name" required th:value="${project.name}"
                           type="text">

                </div>
                <div class="field">
                    <label>Project Quotation</label>
                    <input name="projectQuotation" required th:value="${project.quotation}"
                           type="number">
                </div>
                <div class="field">
                    <label>Project Description</label>
                    <textarea name="projectDescription" placeholder="Project Description" required
                              th:text="${project.comments}">
                    </textarea>
                </div>
                <h4 class="ui dividing header">Project Configuration</h4>
                <div class="field">

                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Encrypt</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="attr : ${project.getAttributes()}" th:attr="data-key=${attr.key}">
                            <td th:text="${attr.key}">
                            </td>
                            <td>
                                <input th:if="${attr.value.encrypted == false}" type="text" th:name="'attr-'+${attr.key}" th:value="${attr.value.value}"/>
                                <input th:if="${attr.value.encrypted == true}" type="text" readonly th:name="'attr-'+${attr.key}" th:value="${attr.value.value}"/>
                            </td>
                            <td th:text="${attr.value.encrypted}">
                                <input  type="hidden"  th:name="'attrenc-'+${attr.key}" th:value="${attr.value.encrypted}"/>
                            </td>
                            <td>
                                <div class="ui negative basic button delete" th:attr="data-key=${attr.key}">
                                    <i class="remove alternate icon"></i>
                                    Remove
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="newAttrKey" placeholder="new conf key"/>
                            </td>
                            <td>
                                <input type="text" name="newAttrValue" placeholder="new conf value"/>
                            </td>
                            <td>
                                <input type="checkbox" name="newAttrEncrypted"/>
                            </td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="column">
                <h4 class="ui dividing header">Members</h4>
                <div class="field">
                    <div class="ui category search">
                        <div class="ui icon input">
                            <input class="prompt" placeholder="Search user..." type="text">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <table class="ui tablet unstackable table" id="members" th:if="${members.size()>0}">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="membership : ${members}" th:id="${membership.member.id}">
                            <td th:text="${membership.member.name}">
                            </td>
                            <td>
                                <select th:name="'members['+${membership.member.id}+']'">
                                    <option th:each="role : ${roles}" th:selected="${role == membership.role}"
                                            th:text="${role}"
                                            th:value="${role}"></option>
                                </select>
                            </td>
                            <td>
                                <button class="ui negative basic button"
                                        th:onclick="'removeUser('+${membership.member.id}+')'">
                                    <i class="remove alternate icon"></i>
                                    Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h4 class="ui dividing header">Exports</h4>
                <div>
                    <a target="_blank" class="ui orange basic button" th:each="export: ${exports}" th:href="@{/projects/export(projectID=${project.id}, type=${export.getMimeType()})}" th:text="${export.getName()}" ></a>
                </div>

                <h4 class="ui dividing header">Imports</h4>
                <div>
                    <a class="ui green basic button" th:each="import: ${imports}" th:href="@{/projects/import(projectID=${project.id}, type=${import.getServiceName()})}" th:text="${import.getServiceName()}" ></a>
                </div>

            </div>

        </div>


        <button class="ui positive button" type="submit" style="margin-top:1em">Save</button>
    </form>
    <script>

        $('.ui.checkbox')
          .checkbox()
        ;

        $('.delete[data-key]').click(function(){
        console.log("delete");
            $('tr[data-key="'+$(this).attr('data-key')+'"]').remove();
        });



        $('.ui.search')
            .search({
                apiSettings: {
                        url: '/search?q={query}'
                    },
                    fields: {
                        results : 'items',
                        title   : 'name',
                        description : 'email'
                    },
                    onSelect: function(result, response) {
                        $('#projects').append("<input type='text' name='members["+result.id+"]' />");
                        $('#projects').submit();
                    },
                minCharacters : 3
            });


    </script>
</div>

</body>
</html>