<!DOCTYPE html>

<html layout:decorate="~{details_project_layout.html(tab='fourth')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Project Dashboard</title>
</head>
<body>

<div layout:fragment="placeholder">

    <div class="ui two column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <canvas id="barchart"></canvas>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="ui mini statistic">
                        <div class="value"
                             th:text="${#numbers.formatDecimal(dashboard.estimateWork,1,1,'COMMA')}"></div>
                        <div class="label">
                            Estimate Work
                        </div>
                    </div>

                    <div class="ui mini statistic">
                        <div class="value" th:text="${#numbers.formatDecimal(dashboard.effortSpent,1,1,'COMMA')}"></div>
                        <div class="label">
                            Effort Spent
                        </div>
                    </div>

                    <div class="ui mini statistic">
                        <div class="value"
                             th:text="${#numbers.formatDecimal(dashboard.remainToBeDone,1,1,'COMMA')}"></div>
                        <div class="label">
                            Remain To Be Done
                        </div>
                    </div>


                    <div class="ui mini statistic">
                        <div class="value"
                             th:text="${#numbers.formatDecimal(dashboard.reEstimateWork,1,1,'COMMA')}"></div>
                        <div class="label">
                            ReEstimate Work
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">

      /*<![CDATA[*/

         var qt = /*[[${dashboard.quotation}]]*/ 'QT';
         var oe = /*[[${dashboard.estimateWork}]]*/ 'EW';
         var re = /*[[${dashboard.reEstimateWork}]]*/ 'RE';
         var es = /*[[${dashboard.effortSpent}]]*/ 'ES';
         var el = /*[[${dashboard.remainToBeDone}]]*/ 'EL';


        const data = {
        labels: ['QT', 'OE', 'RE', 'ES'],
        datasets: [
            {
                label: 'Quotation',
                data: [qt,0,0,0],
                backgroundColor: 'royalblue',
                borderWidth: 3
            },
            {
                label: 'Estimated Work',
                data: [0, oe,0,0],
                backgroundColor: '#ff6384',
                borderWidth: 3
            },
             {
                label: 'REestimated Work',
                data: [0, 0,re,0],
                backgroundColor: '#36a2eb',
                borderWidth: 3
            },
             {
                label: 'ES',
                data: [0, 0, 0,es],
                backgroundColor: '#cc65fe',
                borderWidth: 3
            },
             {
                label: 'EL',
                data: [0, 0, 0, el],
                backgroundColor: '#ffce56',
                borderWidth: 3
            }
         ]
        };

        const options = {
        responsive: true,
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true,
                ticks: {
                    beginAtZero: true
                }
            }]
        }
        };

        const ctx = document.querySelector("#barchart");
        var kpiChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
       /*]]>*/

    </script>

</div>

</body>
</html>