<!DOCTYPE html>

<html layout:decorate="~{projects:details_project_milestones.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Project Milestones details</title>
</head>
<body>

<div layout:fragment="milestone-config">

    <form action="" class="ui form segment" enctype="application/x-www-form-urlencoded" id="milestone"
          method="post" style="margin-left:1em;">
        <input name="milestoneID" required th:value="${milestone.milestoneID}" type="hidden">

        <div class="field">
            <label>Milestone Name</label>
            <input name="milestoneName" placeholder="Milestone Name" required th:value="${milestone.name}" type="text">
        </div>
        <div class="field">
            <label>Milestone  Date</label>
            <input name="milestoneDate" placeholder="Milestone Date"
                   required th:value="${#dates.format(milestone.date, 'yyyy-MM-dd')}" type="date">
        </div>
        <div class="field">
            <label>Milestone type</label>
            <select  name="milestoneType" th:disabled="${milestone.milestoneID == null}">
                <option th:each="type: ${allMilestoneTypes}"
                        th:text="${type.label}"
                        th:value="${type}"
                        th:selected="${type == milestone.type}"></option>
            </select>
        </div>


        <button class="ui positive button" type="submit">Save</button>

        <a class="ui negative basic button"
           th:href="@{/projects/milestones/delete(milestoneID=${milestone.milestoneID}, projectID=${project.id})}">
            <i class="remove alternate icon"></i>
            Delete Milestone
        </a>

    </form>

</div>

</body>
</html>