<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div layout:fragment="content">

    <div class="ui attached pointing menu stackable container ">
        <a class="item"><span class="bold text" th:text="${project.name}"></span></a>
        <a class="item"
           th:classappend="${tab == nav.getNavigationLabel()}  ? 'active':''"
           th:each="nav: ${projectNavProviders}"
           data-cy="project-menu-calendar"
           th:href="@{/projects/{projectID}{providerPath}(projectID=${project.id},providerPath=${nav.getNavigationPath()})}"
           th:text="#{${nav.getNavigationLabel()}}"></a>
    </div>
    <div class="ui bottom attached tab segment controls active" data-tab="first" style="border-top : none !important;" layout:fragment="placeholder">

    </div>
</div>

</body>
</html>