<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">


<body>

<div layout:fragment="content">

    <div class="ui attached pointing menu">
        <a class="item"><span class="primary bold text" th:text="${project.name}"></span></a>
        <a class="item" th:classappend="${tab} == 'first'  ? 'active':''"
           th:href="@{/projects/{projectID}/setup(projectID=${project.id})}"  data-cy="project-menu-setup">Setup</a>
        <a class="item" th:classappend="${tab} == 'second'  ? 'active':''"
           th:href="@{/projects/{projectID}/tasks(projectID=${project.id})}" data-cy="project-menu-tasks">Tasks</a>
        <a class="item" th:classappend="${tab} == 'third'  ? 'active':''"
           th:href="@{/projects/{projectID}/batches(projectID=${project.id})}" data-cy="project-menu-batches">Batches</a>
        <a class="item" th:classappend="${tab} == 'fourth'  ? 'active':''"
           th:href="@{/projects/{projectID}/dashboard(projectID=${project.id})}" data-cy="project-menu-dashboard" >Dashboard</a>
        <a class="item" th:classappend="${tab} == 'five'  ? 'active':''"
           th:href="@{/projects/{projectID}/tags(projectID=${project.id})}" data-cy="project-menu-tags">Tags</a>
        <a class="item" th:classappend="${tab} == 'six'  ? 'active':''"
           sec:authorize="${hasPermission(#vars.project,'PROJECT_SNAPSHOT')}"
           th:href="@{/projects/{projectID}/snapshots(projectID=${project.id})}" data-cy="project-menu-tags">Snapshots</a>
    </div>
    <div class="ui bottom attached tab segment controls active" data-tab="first" style="border-top : none !important;" layout:fragment="placeholder">

    </div>


</div>

</body>
</html>