<!DOCTYPE html>

<html layout:decorate="~{project_layout.html(tab='project.tab.tasks')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-slot="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="#{nav.projects}  + ' - ' + #{project.tab.tasks}"></title>
    <meta property="tasks" th:baseurl="@{/projects/tasks/config(projectID=${project.id})}" th:project="${project.id}"  th:batchtype="${batchType}"/>
    <style>
        .ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 15em;
        }
    </style>
    <script src="/webjars/chartjs/2.8.0/Chart.js"></script>
    <link href="/webjars/chartjs/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="placeholder">
    <input name="projectID" required th:value="${project.id}" type="hidden">

    <!-- GRAPH MODAL TEMPLATE-->
    <script id="graph-modal-template" type="text/x-template">
        <div class="ui modal graph ">
            <i class="close icon"></i>
            <div class="content">
                <div class="ui fluid card">
                    <canvas id="taskLineChart" width="800" height="450"></canvas>
                </div>
            </div>

        </div>
    </script>

    <!-- TASK FORM MODAL TEMPLATE-->
    <script id="task-modal-template" type="text/x-template">
        <div class="ui large modal create-task ">
            <i class="close icon"></i>
            <div class="header">
                {{ modalTitle }}
            </div>
            <div class="content">
                <form class="ui form" enctype="application/x-www-form-urlencoded" id="task">
                    <div v-bind="formError" class="ui error message"></div>

                    <div class="two fields">
                        <div class="field">
                            <label>Task Name</label>
                            <input v-model="task.taskName" name="taskName" placeholder="Task Name" required type="text" data-cy="task-name">
                        </div>
                        <div class="field" :class="{ disabled : !task.canChangeAssignee }">
                            <label>User assigned</label>
                            <div class="ui category search">
                                <div class="ui icon input">
                                    <input class="prompt assigned" placeholder="Search account..." data-cy="task-assignee-search"
                                           v-model="task.assignee" type="text"/>
                                    <input class="taskAssigned" name="taskAssigned"
                                           v-model="task.assigneeID" type="hidden"/>
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Task Description</label>
                        <textarea v-model="task.taskComments" name="taskComments" placeholder="Task Description" data-cy="task-comments"
                                  rows="1"></textarea>
                    </div>
                    <div class=" two fields">
                        <div class="field">
                            <label>Task Start Date</label>
                            <input v-model="task.startDate" name="taskStartDate" placeholder="Task Name" data-cy="task-start-date"
                                   required type="date">
                        </div>
                        <div class="field">
                            <label>Task End Date</label>
                            <input v-model="task.endDate" name="taskEndDate" placeholder="Task Name" required data-cy="task-end-date"
                                   type="date">
                        </div>
                    </div>
                    <div class="four fields">
                        <div class="field" :class="{ disabled : !task.canChangeAssignee }">
                            <label>Task Original Estimate</label>
                            <input  v-model="task.originalEstimate" name="taskOriginalEstimate" placeholder="Task OE" data-cy="task-oe"
                                   required type="number">
                        </div>
                        <div class="field">
                            <label>Task type</label>
                            <select class="ui type dropdown" v-model="task.typeID" name="taskTypeID" data-cy="task-type">
                                <option th:each="type: ${taskTypes}"
                                        th:text="${type.typeName}" th:value="${type.id}"
                                ></option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Task status</label>
                            <select class="ui status dropdown" v-model="task.status" name="taskStatus" data-cy="task-status"
                                    v-bind:class="{disabled: (task.taskID == 0)}">
                                <option th:each="status: ${allTaskStatus}"
                                        th:text="${status}"
                                        th:value="${status}"
                                ></option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Batches</label>
                            <select multiple="" class="ui batch dropdown" v-model="task.batchIDs" name="taskBatchId" data-cy="task-batch">
                                <option
                                        th:each="batch: ${allProjectBatches}"
                                        th:text="${batch.screenName}"
                                        th:value="${batch.id}"
                                ></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div class="ui positive submit right labeled icon button"  data-cy="task-submit">
                    Request
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </script>



    <!-- MAIN COMPONENT-->
    <div id="tasksList">


        <!-- Actions buttons-->
        <div class="ui menu">
            <a class="item" th:if="${isProjectOwner}"  data-cy="create-task"
               v-on:click="showCreateTaskModal(null, null, $event)" sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_CREATE')}">
                <i class="plus icon"></i>
                New Task
            </a>
            <div class="ui dropdown item import" id="import" sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_IMPORT')}">
                Import tasks
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div th:each="plugin : ${sync_plugins}" th:text="${plugin.serviceName}" th:modal-id="${plugin.serviceID}" class="item" v-on:click="showImportModal">plugin name</div>
                </div>
            </div>
            <div @click="toggleFilters" class="ui dropdown item" >
                <i class="filter icon"></i>
                Filters
            </div>
            <div class="right menu">
                <div id="jobInProgress" class="ui orange label item" style="display:none">
                    <i class="sync icon rotating"></i> Sync with Jira or Github in progress
                </div>

                <div class="ui dropdown item" tabindex="0" id="view">
                    <i class="list alternate icon"></i>
                    <div class="title" th:text="${batchType}"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu transition hidden" tabindex="-1">
                        <a class="item" th:href="@{/projects/{projectID}/tasks(projectID=${project.id})}" >
                            Default
                        </a>
                        <a class="item"  th:each="type: ${allProjectBatchTypes}"
                                th:text="${type.label}"
                                th:href="@{/projects/{projectID}/tasks/group/{batchType}/(projectID=${project.id}, batchType=${type.label})}"
                        ></a>

                    </div>
                </div>

            </div>

        </div>

        <!-- Filters-->
        <div class="ui segment filters" style="display: none;">
            <div class="ui four column relaxed equal height divided grid">
                <div class="column">
                    <label>Name</label>
                    <div class="ui fluid icon input">
                        <input v-model="taskListConfig.filters.name.filterValue" placeholder="Name.. ">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="column">
                    <label>Between </label>
                    <div class="ui fluid input">
                        <input v-model="taskListConfig.filters.start.filterValue" type="date" placeholder="Start date.. ">
                    </div>
                    <label>and </label>
                    <div class="ui fluid input">
                        <input v-model="taskListConfig.filters.end.filterValue" type="date"  placeholder="End date.. ">
                    </div>
                </div>
                <div class="column">

                    <label>Original estimate </label>
                    <div class="ui mini fluid input">
                        <input v-model="taskListConfig.filters.oeMin.filterValue"  type="text" placeholder="Min">
                    </div>
                    <div class="ui mini fluid input">
                        <input v-model="taskListConfig.filters.oeMax.filterValue" type="text" placeholder="Max">
                    </div>
                </div>
                <div class="column">
                    <label>Batch </label>
                    <select v-model="taskListConfig.filters.batch.filterValue" class="ui multiple selection fluid dropdown" >
                        <option th:each="batch: ${allProjectBatches}"
                                th:text="${batch.name}"
                                th:value="${batch.id}"
                        ></option>
                    </select>
                    <label>Type </label>
                    <select v-model="taskListConfig.filters.type.filterValue" class="ui type multiple selection fluid dropdown" >
                        <option th:each="type: ${taskTypes}"
                                th:text="${type.typeName}"
                                th:value="${type.id}"
                        ></option>
                    </select>
                    <label>Status </label>
                    <select v-model="taskListConfig.filters.status.filterValue" class="ui status multiple selection fluid dropdown" >
                        <option th:each="status: ${allTaskStatus}"
                                th:text="${status}"
                                th:value="${status}"
                        ></option>
                    </select>
                </div>
            </div>
        </div>


        <div v-if="pendingTaskList.length" class="ui horizontal divider" sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_APPROBATION')}">
            <i class="boxes icon"></i>
            Pending tasks
        </div>

        <!-- Pending tasks datatable component -->
        <data-table v-bind:config="pendingTaskListConfig" v-bind:table="pendingTaskList" sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_APPROBATION')}">
            <template v-slot:name="{row}">
                {{row.taskName}} <p class="ellipsis" style="color: grey;  font-size: 1em;">
                {{row.taskComments}}</p>
            </template>
            <template v-slot:start="{row}">
                {{row.startDate}}
            </template>
            <template v-slot:end="{row}">
                {{row.endDate}}
            </template>
            <template v-slot:re="{row}">
                <div class="ui circular label large day-badge" style="margin-top: 5px;">
                    <p>{{row.realEffort.toFixed(2)}}</p>
                </div>
            </template>
            <template v-slot:el="{row}">
                <div class="ui circular label large day-badge" style="margin-top: 5px;">
                    <p>{{row.effortLeft.toFixed(2)}}</p>
                </div>
            </template>
            <template v-slot:es="{row}">
                <div class="ui circular label large day-badge" style="margin-top: 5px;">
                    <p>{{row.effortSpent.toFixed(2)}}</p>
                </div>
            </template>
            <template v-slot:oe="{row}">
                <div class="ui circular label large day-badge" style="margin-top: 5px;">
                    <p>{{row.originalEstimate.toFixed(2)}}</p>
                </div>
            </template>
            <template v-slot:assignee="{row}">
                {{row.assignee}}
            </template>
            <template v-slot:batch="{row}">
                <i v-for="item in row.batchNames"> {{item}} </i>
            </template>
            <template v-slot:type="{row}">
                <div v-if="row.typeName !== '' " class="ui blue horizontal label"> {{row.typeName}} </div>
            </template>
            <template v-slot:status="{row}">
                <div class="ui small primary horizontal label"> {{row.status}} </div>
            </template>

            <template v-slot:actions="{row}">
                <button @click="approveTask($event, row)" class="ui positive icon button" data-cy="approve-task">
                    Approve
                    <i class="check icon"></i>
                </button>
                <button @click="denyTask($event, row)" class="ui negative icon button" data-cy="deny-task">
                    Deny
                    <i class="close icon"></i>
                </button>
            </template>
        </data-table>

        <div th:if="${project.getTasks().isEmpty()}" class="ui icon message"><i class="tasks icon"></i>
            <div class="content">
                <div class="header">
                    There is no task in this project.
                </div>
                <p sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_CREATE')}" >
                    click
                    <span v-on:click="showCreateTaskModal(null, null, $event)" class="ui button">here</span>
                    to create a new task.</p>
            </div>
        </div>

        <div th:if="${project.getTasks().size() > 0}" class="ui horizontal divider">
            <i class="boxes icon"></i>
            All tasks <span th:if="${batchType} != 'Default' " th:text="' by ' + ${batchType}"></span>
        </div>

        <div class="ui styled fluid accordion" th:if="${project.getTasks().size() > 0}">
            <div v-for="batch in batches" style="overflow-y: scroll"  th:if="${batchType != 'Default'}" >
                <div class="title">
                    <i class="plus icon"></i>
                    {{ batch.batchName }}
                </div>
                <div class="content" >

                    <!-- Charge Information -->
                    <div class="ui fluid card" style="width: 50%; margin-left: 25%;">
                        <div class="content">
                            <div class="ui mini statistic">
                                <div class="value">
                                    {{batch.originalEstimate.toFixed(2)}}
                                </div>
                                <div class="label">
                                    Original Estimate
                                </div>
                            </div>

                            <div class="ui mini statistic">
                                <div class="value">
                                    {{batch.effortSpent.toFixed(2)}}
                                </div>
                                <div class="label">
                                    Effort Spent
                                </div>
                            </div>

                            <div class="ui mini statistic">
                                <div class="value">
                                    {{batch.effortLeft.toFixed(2)}}
                                </div>
                                <div class="label">
                                    Effort Left
                                </div>
                            </div>

                            <div class="ui mini statistic">
                                <div class="value">
                                    {{batch.realEffort.toFixed(2)}}
                                </div>
                                <div class="label">
                                    Real Effort
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Datatable component -->
                    <data-table v-bind:config="taskListConfig" v-bind:table="tableByBatch[batch.batchID]">
                        <template v-slot:name="{row}">
                            {{row.taskName}} <p class="ellipsis" style="color: grey;  font-size: 1em;">
                            {{row.taskComments}}</p>
                        </template>
                        <template v-slot:start="{row}">
                            {{row.startDate}}
                        </template>
                        <template v-slot:end="{row}">
                            {{row.endDate}}
                        </template>
                        <template v-slot:re="{row}">
                            <div class="ui circular label large day-badge" style="margin-top: 5px;">
                                <p>{{row.realEffort.toFixed(2)}}</p>
                            </div>
                        </template>
                        <template v-slot:el="{row}">
                            <div class="ui circular label large day-badge" style="margin-top: 5px;">
                                <p>{{row.effortLeft.toFixed(2)}}</p>
                            </div>
                        </template>
                        <template v-slot:es="{row}">
                            <div class="ui circular label large day-badge" style="margin-top: 5px;">
                                <p>{{row.effortSpent.toFixed(2)}}</p>
                            </div>
                        </template>
                        <template v-slot:oe="{row}">
                            <div class="ui circular label large day-badge" style="margin-top: 5px;">
                                <p>{{row.originalEstimate.toFixed(2)}}</p>
                            </div>
                        </template>
                        <template v-slot:assignee="{row}">
                            {{row.assignee}}
                        </template>
                        <template v-slot:batch="{row}">
                            <i v-for="item in row.batchNames"> {{item}} </i>
                        </template>
                        <template v-slot:type="{row}">
                            <div  v-if="row.typeName !== '' " class="ui blue green horizontal label"> {{row.typeName}} </div>
                        </template>
                        <template v-slot:status="{row}">
                            <div class="ui small primary horizontal label"> {{row.status}} </div>
                        </template>

                        <template v-slot:actions="{row}">
                            <button @click="deleteTask($event, row)" class="ui tiny negative icon button" data-cy="delete-task">
                                <i class="archive icon"></i>
                            </button>
                            <button v-on:click="showCreateTaskModal(null, row, $event)" data-cy="edit-task"
                                    class="ui tiny primary icon button">
                                <i class="edit icon"></i>
                            </button>
                            <button v-on:click="showGraphModal(null, row, $event)"  data-cy="show-graph-task"
                                    class="ui tiny yellow icon button">
                                <i class="chart line icon"></i>
                            </button>
                        </template>
                    </data-table>
                </div>
            </div >
            <div th:if="${batchType} == 'Default' " style="overflow-y: scroll" >
                <data-table v-bind:config="taskListConfig" v-bind:table="taskList">
                    <template v-slot:name="{row}">
                        {{row.taskName}} <p class="ellipsis" style="color: grey;  font-size: 1em;">
                        {{row.taskComments}}</p>
                    </template>
                    <template v-slot:start="{row}">
                        {{row.startDate}}
                    </template>
                    <template v-slot:end="{row}">
                        {{row.endDate}}
                    </template>
                    <template v-slot:re="{row}">
                        <div class="ui circular label large day-badge" style="margin-top: 5px;">
                            <p>{{row.realEffort.toFixed(2)}}</p>
                        </div>
                    </template>
                    <template v-slot:el="{row}">
                        <div class="ui circular label large day-badge" style="margin-top: 5px;">
                            <p>{{row.effortLeft.toFixed(2)}}</p>
                        </div>
                    </template>
                    <template v-slot:es="{row}">
                        <div class="ui circular label large day-badge" style="margin-top: 5px;">
                            <p>{{row.effortSpent.toFixed(2)}}</p>
                        </div>
                    </template>
                    <template v-slot:oe="{row}">
                        <div class="ui circular label large day-badge" style="margin-top: 5px;">
                            <p>{{row.originalEstimate.toFixed(2)}}</p>
                        </div>
                    </template>
                    <template v-slot:assignee="{row}">
                        {{row.assignee}}
                    </template>
                    <template v-slot:batch="{row}">
                        <i v-for="item in row.batchNames"> {{item}} </i>
                    </template>
                    <template v-slot:type="{row}">
                        <div  v-if="row.typeName !== '' " class="ui blue green horizontal label"> {{row.typeName}} </div>
                    </template>
                    <template v-slot:status="{row}">
                        <div class="ui small primary horizontal label"> {{row.status}} </div>
                    </template>

                    <template v-slot:actions="{row}">
                        <button @click="deleteTask($event, row)" class="ui tiny negative icon button" data-cy="delete-task" sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_APPROBATION')}" >
                            <i class="archive icon"></i>
                        </button>
                        <button v-on:click="showCreateTaskModal(null, row, $event)" data-cy="edit-task" sec:authorize="${hasPermission(#vars.project,'PROJECT_TASKS_EDIT')}"
                                class="ui tiny primary icon button">
                            <i class="edit icon"></i>
                        </button>
                        <button v-on:click="showGraphModal(null, row, $event)"  data-cy="show-graph-task"
                                class="ui tiny yellow icon button">
                            <i class="chart line icon"></i>
                        </button>
                    </template>
                </data-table>
            </div>
        </div>



        <!-- Task modal component instance-->
        <task-modal
                :form-error="formError"
                :modal-title="modalTitle"
                :task="newTask">
        </task-modal>
        <graph-modal
                :form-error="formError"
                :modal-title="modalTitle"
                :task="newTask">
        </graph-modal>

        <tmodal-confirm
                ref="confirmModal"
                title="Archive task ?"
                icon="close"
        ></tmodal-confirm>


        <div class="sync plugins" th:each="plugin: ${sync_plugins}">
            <div  th:include="fragments/sync_task_form.html :: form(${plugin.getServiceName()}, ${plugin.getServiceID()}, ${plugin.getSyncCredentialFields()})"></div>
        </div>

    </div>
    <script src="/js/project_tasks.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#import, #view').dropdown({
                clearable: true
            });
        });
    </script>

</div>

</body>
</html>