<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">Home Page</title>
    <script type="text/javascript" src="/js/projects.js"></script>
</head>
<body>

<div layout:fragment="content">

    <style type="text/css">
        .badge{
           text-align: center;
            width: 3em;
            margin: 0 auto;
            background-color: #957DAD;
            line-height: 3em;
            border-radius: 5em;
            margin-top: 0.5em;
            font-size: 3em;
            color: white;
            margin-bottom: 0.5em;
        }

    </style>

    <div class="ui icon message" th:if="${projects.isEmpty()}">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                No Projects ?
            </div>
            <p>You are not member of any project, click <a th:href="@{/projects/create(orgID=${orgID})}">here</a> to
                create your first
                project !</p>
        </div>
    </div>

    <div th:if="${!projects.isEmpty()}" class="ui segment">

        <div class="ui menu">
            <a th:href="@{/projects/create}"
               class="item">
                <i class="plus icon"></i>
                New Project
            </a>
        </div>

        <br/>
        <div class="ui horizontal divider">
            <i class="box icon"></i>
            Last Projects
        </div>


        <div class="ui five stackable cards">
            <div class="ui card" th:each="project : ${projects}">
                <div class="image">
                    <a th:href="@{/projects/{projectID}/setup(projectID=${project.id})}">
                        <div class="badge" style="text-transform: capitalize;"
                             th:style="'background-color:'+${project.getColor()}"
                             th:text="${project.name.charAt(0)+''+project.name.charAt(1)}">
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="header" th:text="${project.name}"></a>
                    <div class="meta">
                        <div>
                            <i class="account icon"></i>
                            [[${project.members.size()}]] Members
                        </div>
                    </div>
                    <div class="description" th:text="${project.comments}">
                    </div>
                </div>
                <div class="extra content">
                    <a class="ui positive button" th:href="@{/projects/{projectID}/setup(projectID=${project.id})}">Setup</a>
                    <a class="negative ui basic button"
                       th:href="@{/projects/{projectID}/delete(projectID=${project.id})}">Archive</a>
                </div>
            </div>
        </div>

        <br/>
        <div class="ui horizontal divider">
            <i class="boxes icon"></i>
            All Projects
        </div>

        <div id="projects-app">
            <data-table v-bind:config="table">
                <template v-slot:name="{row}">
                    {{row.name}}
                </template>
                <template v-slot:actions="{row}">
                    <a v-bind:href="'/projects/'+row.id" class="ui right labeled success icon button">
                        <i class="right arrow icon"></i>
                        View
                    </a>
                </template>
            </data-table>
        </div>
    </div>

</div>

</body>
</html>