<!DOCTYPE html>

<html layout:decorate="~{project_layout.html(tab='project.tab.batches')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{project.tab.batches}"></title>
    <meta name="projectID" th:content="${project.id}"/>
    <script src="/js/project_batches.js" type="text/javascript"></script>
</head>
<body>

<div layout:fragment="placeholder">
    <div id="batches-app">
        <div class="ui menu">
            <a class="item"
               v-on:click="openModal">
                <i class="plus icon"></i>
                New Batch
            </a>
        </div>

        <data-table v-bind:table="batchesListData" v-bind:config="batchesListConfig">
            <template v-slot:name="{row}">
                {{row.name}}
            </template>
            <template v-slot:type="{row}">
                {{row.type}}
            </template>
            <template v-slot:date="{row}">
                {{row.date}}
            </template>
            <template v-slot:tasks="{row}">
                {{row.tasks}}
            </template>
            <template v-slot:actions="{row}">
                <button class="ui negative icon button" v-on:click="deleteURL(row)">
                    <i class="trash alternate icon"></i>
                </button>
                <button class="ui blue button" v-on:click="editBatch(row)">
                    <i class="edit alternate icon"></i>
                    Edit
                </button>
            </template>
        </data-table>

        <tmodal
                v-bind:title="'Milestone'"
                v-bind:id="'editMilestone'">
            <template v-slot:content>

                <div class="ui form">
                    <div class="field">
                        <label>Batch Label</label>
                        <input v-model="batch.name" type="text" name="batch-label" placeholder="Batch Label">
                    </div>
                    <div class="field">
                        <label>Batch Type</label>
                        <select v-model="batch.type" class="ui dropdown" name="batch-type">
                            <option th:each="b : ${batchTypes}" th:text="${b}" th:value="${b}"></option>
                        </select>
                    </div>

                    <div class="field" v-if="batch.type!='GROUP'">
                        <label>Date</label>
                        <input v-model="batch.date"  type="date" name="batch-date">
                    </div>
                    <button class="ui positive icon button" v-on:click="saveBatch">
                        <i class="save alternate icon"></i>
                        Save
                    </button>
                </div>

            </template>
        </tmodal>
    </div>
</div>

</body>
</html>