<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

<head>
    <title layout:fragment="title">Home Page</title>
    <script src="/js/project_list.js" type="text/javascript"></script>
</head>
<body>

<div layout:fragment="content">

    <div class="ui icon message" th:if="${projects.isEmpty()}">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                No Projects ?
            </div>
            <p>You are not member of any project, click
                <a th:href="@{/projects/create}" data-cy="create-project" >here</a>
                to create your first project !</p>
        </div>
    </div>

    <div th:if="${!projects.isEmpty()}">

        <div class="ui horizontal divider">
            <i class="box icon"></i>
            Last Projects
        </div>


        <div class="ui five stackable cards">
            <div class="ui card" data-cy="project" th:each="project : ${projects}" >
                <div class="image"  th:style="'background-color:'+${project.getColor()}" >
                    <a th:href="@{/projects/{projectID}/setup(projectID=${project.id})}">
                        <div class="badge"

                             th:text="${project.name.charAt(0)+''+project.name.charAt(1)}">
                        </div>
                    </a>
                </div>
                <div class="content">
                    <a class="header" th:style="'color:'+${project.getColor()}" data-cy="project-title" th:text="${project.name}"></a>
                    <div class="meta">
                        <div>
                            <i class="account icon"></i>
                            [[${project.members.size()}]] Members
                        </div>
                    </div>
                    <div class="description" th:text="${project.comments}">
                    </div>
                </div>
                <div class="extra content" style="text-align: center;">

                    <a th:href="@{/projects/{projectID}/setup(projectID=${project.id})}" class="ui positive icon button" data-cy="setup">
                        <i class="cog icon"></i>
                    </a>
                    <a  th:href="@{/projects/{projectID}/tasks(projectID=${project.id})}"
                        class="ui primary icon button">
                        <i class="tasks icon"></i>
                    </a>
                    <a th:href="@{/projects/{projectID}/delete(projectID=${project.id})}" class="ui negative icon button" data-cy="archive">
                        <i class="archive icon"></i>
                    </a>
                </div>
            </div>

            <div class="ui card">
                <div class="content"  style="background-color: lightgrey">
                    <a  th:href="@{/projects/create}">
                        <div class="badge" style="font-size: 4.2rem; padding-top: 2rem;">
                            <i class="plus icon"></i>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <br/>
        <div class="ui horizontal divider">
            <i class="boxes icon"></i>
            All Projects
        </div>

        <div id="projects-app">
            <data-table v-bind:config="table">
                <template v-slot:name="{row}">
                    {{row.name}}
                </template>
                <template v-slot:actions="{row}">
                    <a class="ui right labeled positive icon button" v-bind:href="'/projects/'+row.id+'/setup'" data-cy="setup">
                        <i class="cog icon"></i>
                        Setup
                    </a>
                    <a class="ui right labeled primary icon button" v-bind:href="'/projects/'+row.id+'/tasks'" data-cy="tasks">
                        <i class="tasks icon"></i>
                        Task
                    </a>
                    <a class="ui right labeled negative icon button" v-bind:href="'/projects/'+row.id+'/delete'" data-cy="archive">
                        <i class="archive icon"></i>
                        Archive
                    </a>
                </template>
            </data-table>
        </div>
    </div>

</div>

</body>
</html>