<!DOCTYPE html>

<html layout:decorate="~{project_layout.html(tab='third')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

<head>
    <title layout:fragment="title">Project Milestones</title>
    <meta name="projectID" th:content="${project.id}"/>
    <script type="text/javascript" src="/js/milestones.js"></script>
</head>
<body>

<div layout:fragment="placeholder">
    <div id="milestones-app">
        <div class="ui menu">
            <a  v-on:click="alert()"
               class="item">
                <i class="plus icon"></i>
                New Milestone
            </a>
        </div>

        <data-table v-bind:config="table">
            <template v-slot:name="{row}">
                {{row.name}}
            </template>
            <template v-slot:type="{row}">
                {{row.type}}
            </template>
            <template v-slot:date="{row}">
                {{row.date}}
            </template>
        </data-table>

    </div>
</div>

</body>
</html>