<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/reporting')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Reporting</title>
</head>
<body>

<div layout:fragment="content">

    <div class="ui segment">
        <h2 class="ui divided header">Reporting</h2>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Report</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report: ${reports}">
                <td th:text="${report.name}">Name</td>
                <td th:text="${report.mimeType}">Description</td>
                <td>
                    <a class="ui primary button" target="_blank" th:href="@{'/'}">Run</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>