<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav(title)">
    <div class="ui secondary pointing menu nav navigation">
        <a class="item" th:classappend="${title} == '/'  ? 'active':''" th:href="@{/}">Home</a>
        <a class="item" th:classappend="${title} == ${nav.getNavigationPath()}  ? 'active':''" th:each="nav : ${navs}"
           th:href="${nav.getNavigationPath()+'?'+nav.getNavigationParams()}" th:text="${nav.getNavigationLabel()}"></a>

        <div class="right menu">
            <a class="item" th:href="@{/logout}">
                <i class="sign out alternate icon">

                </i>
                <span th:if=${user} th:text="${user.email}"></span>
            </a>
        </div>
    </div>
</div>
</body>
</html>