<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav(title)">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <div class="item header" >
            <h2 class="ui header" th:text="${appName}">Timeboard</h2>
        </div>

        <a class="item nav" th:classappend="${title} == ${nav.getNavigationPath()}  ? 'active':''" th:each="nav : ${navs}"
           th:href="${nav.getNavigationPath()}">
            <i th:class="${nav.getNavigationLogo()}+' icon'"></i>
            <div class="title" th:text="${nav.getNavigationLabel()}"></div>
        </a>
         <a class="item nav"><i class="beer icon"></i>
             <div class="title">Vacations</div>
         </a>

        <div class="right menu">
            <div class="ui dropdown item" tabindex="0">
                <i class="sitemap icon"></i>
                <div class="title" th:text="${currentOrg.screenName}"></div>
                <i class="dropdown icon"></i>
                <div class="menu transition hidden" tabindex="-1">
                    <div class="ui item" tabindex="0">
                        <i class="sign-out icon"></i>
                        <a th:href="@{/select}">Switch organisation</a>
                    </div>
                    <a th:href="@{/org/create}" class="item">
                        <i class="edit icon"></i> Create Organisation
                    </a>
                    <a th:if="${currentOrg.isOrganization}" th:href="@{/org/members?orgID={orgID}(orgID=${orgID})}" class="item">
                        <i class="globe icon"></i> Organisation members
                    </a>
                    <a th:if="${currentOrg.isOrganization}" th:href="@{/org/config?orgID={orgID}(orgID=${orgID})}" class="item">
                        <i class="settings icon"></i> Organisation Setup
                    </a>
                </div>
            </div>
            <div class="ui dropdown item" tabindex="0">
                <i class="user icon"></i>
                <div class="title" th:text="${account.screenName}"></div>
                <i class="dropdown icon"></i>
                <div class="menu transition hidden" tabindex="-1">
                    <a th:href="@{/account}" class="item"><i class="edit icon"></i> Setup</a>
                    <a th:href="@{/logout}" class="item"><i class="sign out alternate icon"></i> Logout</a>
                </div>
            </div>
        </div>

    <script>
        $('.ui.dropdown')
          .dropdown({
            clearable: true
          });
    </script>
</div>
</body>
</html>