<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav(title)">

        <div class="item" >
            <h2 class="ui header" th:text="${appName}">Timeboard</h2>
        </div>

        <a class="item" th:classappend="${title} == ${nav.getNavigationPath()}  ? 'active':''" th:each="nav : ${navs}"
           th:href="${nav.getNavigationPath()+'?'+nav.getNavigationParams()}">
            <i th:class="${nav.getNavigationLogo()}+' icon'"></i>
            <div th:text="${nav.getNavigationLabel()}"></div>
        </a>

        <div class="right menu">
            <a class="item" th:href="@{/logout}">
                <i class="sign out alternate icon">

                </i>
                <span th:if=${account} th:text="${account.email}"></span>
            </a>
        </div>
</div>
</body>
</html>