<!DOCTYPE html>
<html layout:decorate="~{core-ui:layouts/general.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>


<div layout:fragment="content">

    <div class="login ui middle aligned center aligned grid">
        <div class="column">

            <form action="" class="ui large form" enctype="application/x-www-form-urlencoded" method="post">
                <input name="origin" placeholder="Username" th:value="${origin}" type="hidden">

                <div class="ui segment">
                    <h2 class="ui image header">
                        <div class="content" th:text="${appName}">

                        </div>
                    </h2>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <input class="ui fluid large submit button" type="submit" value="Login"></input>
                    <a th:href="@{/newPassword}">Forgot your password?</a>
                </div>

                <div th:if='${message}' class="ui error message visible" th:text='${message}'></div>

            </form>


        </div>
    </div>

</div>
</body>
</html>