<!DOCTYPE html>
<html layout:decorate="~{core-ui:layouts/general.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>


<div layout:fragment="content">

    <div class="login ui middle aligned center aligned grid">
        <div class="column" id="content-form" th:if="${!isSuccess}">

            <form action="" class="ui large form" enctype="application/x-www-form-urlencoded" method="post">
                <input name="origin" placeholder="Username" th:value="${origin}" type="hidden">

                <div class="ui segment">
                    <h2 class="ui image header">
                        <div class="content">Forgot your password?</div>
                    </h2>
                    <p>Enter your username to receive a new password by email:</p>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <input class="ui fluid large submit button" type="submit" value="Reset Password"></input>
                    <a th:href="@{/login} ">Return to the login page</a>
                </div>

                <div th:if='${message}' class="ui error message visible" th:text='${message}'></div>

            </form>

        </div>

        <div class="column" id="content-success"  th:if="${isSuccess}">
            <div class="ui segment">
                <h2 class="ui header">
                    <i class="check circle icon"></i>
                    <div class="content">New password sent !</div>
                </h2>
                <p>Your password has been successfully sent to your email address.</p>
                <a th:href="@{/login} ">Return to the login page</a>
            </div>
        </div>

    </div>


</div>
</body>
</html>