<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <base th:href="@{/}">
    <title>[[${appName}]]</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/chartjs/2.8.0/Chart.js"></script>
    <link href="/webjars/chartjs/2.8.0/Chart.min.css" rel="stylesheet">
    <link    th:each="css : ${CSSs}" th:href="${css}" rel="stylesheet">
    <script  th:each="js  : ${javascripts}" th:src="${js}" type="text/javascript"></script>
    <link href="/webjars/timeboard/style.css" rel="stylesheet">
    <script src="/webjars/timeboard/script.js"></script>
    <script src="/timeboard/js/datatable.js"></script>
    <script src="/timeboard/js/modal.js"></script>
</head>
<body>


<div class="ui fixed menu main"
     th:include="fragments/navigation.html :: nav(${path})" ></div>

<div class="ui left vertical menu sidebar side"
     th:include="fragments/navigation.html :: nav(${path})" ></div>

<div class="ui container negative message" th:each="err : ${errors}">
    <i class="close icon"></i>
    <div class="header">
        Oups !
    </div>
    <p th:text="${err.getMessage()}"></p>
</div>

<div layout:fragment="content" class="ui main container pusher" style="padding-top:6em">
    Main content
</div>
</body>
</html>