<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <base th:href="@{/}">
    <title>[[${appName}]]</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/onboarding/images/ico.png" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/semantic/semantic.min.css">
    <link href="/webjars/timeboard/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <script src="/webjars/semantic/semantic.min.js" type="text/javascript"></script>
    <script src="/webjars/timeboard/script.js"></script>
    <script src="/js/logger.js"></script>
    <script src="/js/general.js"></script>
    <script src="/js/datatable.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/number-input.js"></script>
</head>
<body>

<style type="text/css">
    #versionBox {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 10000000;
        width: 20px;
        height: 20px;
    }

    #versionText {
        display: none;
        position: fixed;
        bottom: 0px;
        z-index: 1000000;
        left: 0px;
        font-size: 0.7em;
        background-color: white;
    }

    #versionBox:hover > * {
        display: block;
    }
</style>

<div th:if="${impersonated}" class="ui fixed menu main" style="margin-top: 2rem;background-color: #00bfd8;">
    <a th:href="@{/org/impersonate/cancel}" style="color: white;text-align: center;width: 100%;position: absolute;bottom: 0;font-weight: bold;">
        You are using timeboard as <span th:text="${account.screenName}"></span> (click here to cancel)
    </a>
</div>

<div class="ui fixed menu main"
     th:include="fragments/navigation.html :: nav(${path})"></div>

<div class="ui left vertical menu sidebar side"
     th:include="fragments/navigation.html :: nav(${path})"></div>

<div class="ui main container pusher"  style="padding-top:6em">
    <div class="ui container negative message" th:if="${error !=  null && error != ''}">
        <i class="close icon"></i>
        <div th:text="#{${error}}" class="header">  </div>

    </div>
    <div class="ui container positive message" th:if="${success !=  null && success != ''}">
        <i class="close icon"></i>
        <div th:text="#{${success}}" class="header">  </div>
    </div>
    <div layout:fragment="content" ></div>
</div>
<script>
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>

<a id="versionBox" th:onclick="copyToClipboard([[${appVersion}]])">
    <div id="versionText" th:text="${appVersion}"></div>
</a>



</body>
</html>