<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/account')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Account</title>
</head>

<body>


<div layout:fragment="content">

    <div class="ui negative message" th:if="${error}">
        <i class="close icon"></i>
        <div class="header" th:text="${error}">
        </div>
    </div>
    <div class="ui positive message" th:if="${message}">
        <i class="close icon"></i>
        <div class="header" th:text="${message}">
        </div>
    </div>

    <div class="ui two cards">


        <div class="card">
            <div class="extra content">
                <div class="ui top large primary attached label">
                    <h4><i class="icon account blue"></i>
                    <i th:text="${account.firstName} + ' ' + ${account.name}"></i></h4>
                </div>
                <br/>
            </div>

            <div class="content">
                <div class="ui list">

                    <div class="item">
                        <i class="clock outline icon"></i>
                        <div class="content">
                            Member since  <i th:text="${account.accountCreationTime}"></i>
                        </div>
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            <a th:href="'mailto:' + ${account.email}" th:text="${account.email}" ></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="card">
            <div class="content">
                <h4 class="ui dividing header">Edit your account</h4>

                <form action="" class="ui form account" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="field">
                        <label>Name</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="firstName" placeholder="First Name" th:value="${account.firstName}">
                            </div>
                            <div class="field">
                                <input type="text" name="name" placeholder="Last Name" th:value="${account.name}">
                            </div>
                        </div>
                        <div class="two fields">

                            <div class="field">
                                <label>E-mail</label>
                                <input type="email" name="email" placeholder="john@mygroup.io" th:value="${account.email}">
                            </div>
                        </div>

                        <input name="formType" type="hidden" value="account">
                        <div name="submit" class="ui submit positive button right" value="account" >Save</div>
                        <div class="ui error message"></div>

                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h4 class="ui dividing header">External tools</h4>

                <form id="externalTools" action="" class="ui form password" enctype="application/x-www-form-urlencoded" method="post">

                    <div class="field">

                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody class="externalTools" >
                            <tr th:each="element :  ${externalTools}" th:attr="data-key=${element}" >
                                <td th:text="${element}">  <i class="github icon"> </i> Github</td>
                                <td>
                                    <input th:if="${account.externalIDs != null}" type="text" th:value="${account.externalIDs.containsKey(element)} ? ${account.externalIDs.get(element)} : '' "  th:name="'attr-'+${element}"  />
                                    <input th:if="${account.externalIDs == null}" type="text" th:name="'attr-'+${element}" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input name="formType" type="hidden" value="external">
                        <div name="submitButton" class="ui submit positive button " value="external" >Save</div>
                        <div class="ui error message"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h4 class="ui dividing header">Exports Reports</h4>

                <form action="/account/exportTAS" class="ui form account" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Month</label>
                                <select name="month">
                                    <option th:each="month : ${monthsSinceHiring}" th:value="${month.key}" th:text="${month.value}">December</option>

                                </select>
                            </div>
                            <div class="field">
                                <label>Year</label>
                                <select name="year">
                                    <option th:each="year : ${yearsSinceHiring}" th:value="${year}" th:text="${year}">2019</option>

                                </select>
                            </div>
                            <div class="field">
                                <label>Month</label>
                                <select name="projectID">
                                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}" ></option>
                                </select>
                            </div>
                        </div>

                        <input name="formType" type="hidden" value="account">
                        <button class="ui right submit positive labeled icon button">
                            <i class="download icon"></i>
                            Generate Time Attachment Sheet
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="/js/account.js"></script>

</div>
</div>

</body>
</html>