<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Account</title>
</head>

<body>


<div layout:fragment="content">

    <div class="ui segment">
        <div class="ui middle aligned center aligned grid" style="margin-top:3em; margin-bottom: 3em;">

            <div class="column">
                <p>Account</p>
            </div>

        </div>
    </div>
</div>

</body>
</html>