<!DOCTYPE html>

<html layout:decorate="~{core-ui:layouts/general.html(path='/account')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:fragment="title">Account</title>
</head>

<body>


<div layout:fragment="content">

    <div class="ui negative message" th:if="${error}">
        <i class="close icon"></i>
        <div class="header" th:text="${error}">
        </div>
    </div>
    <div class="ui positive message" th:if="${message}">
        <i class="close icon"></i>
        <div class="header" th:text="${message}">
        </div>
    </div>

    <div class="ui two cards" style="padding: 2rem 4rem; ">


        <div class="card">
            <div class="extra content">
                <div class="ui top large primary attached label">
                    <h4><i class="icon user blue"></i>
                    <i th:text="${user.firstName} + ' ' + ${user.name}"></i></h4>
                </div>
                <br/>
            </div>

            <div class="content">
                <div class="ui list">
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content" th:text="${user.login}" ></div>
                    </div>

                    <div class="item">
                        <i class="clock outline icon"></i>
                        <div class="content">
                            Member since  <i th:text="${user.accountCreationTime}"></i>
                        </div>
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            <a th:href="'mailto:' + ${user.email}" th:text="${user.email}" ></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="card">
            <div class="content">
                <h4 class="ui dividing header">Edit your account</h4>

                <form action="" class="ui form account" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="field">
                        <label>Name</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="firstName" placeholder="First Name" th:value="${user.firstName}">
                            </div>
                            <div class="field">
                                <input type="text" name="name" placeholder="Last Name" th:value="${user.name}">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Nickname</label>
                                <input type="text" name="login" placeholder="Login" th:value="${user.login}">
                            </div>
                            <div class="field">
                                <label>E-mail</label>
                                <input type="email" name="email" placeholder="john@mygroup.io" th:value="${user.email}">
                            </div>
                        </div>

                        <input name="formType" type="hidden" value="account">
                        <div name="submit" class="ui submit positive button right" value="account" >Save</div>
                        <div class="ui error message"></div>

                    </div>

                </form>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h4 class="ui dividing header">Edit your password</h4>
                <form action="" class="ui form password" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="field">
                        <label>Old password</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="password" name="oldPassword" placeholder="Old password" >
                            </div>

                        </div>
                        <label>New password</label>
                        <div class="two fields required">
                            <div class="field required">
                                <input type="password" name="password1" placeholder="New password" >
                            </div>
                            <div class="field required">
                                <input type="password" name="password2" placeholder="Password verification">
                            </div>
                        </div>
                        <input name="formType" type="hidden" value="password">
                        <div name="submitButton" class="ui submit positive button " value="password" >Save</div>
                        <div class="ui error message"></div>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h4 class="ui dividing header">External tools</h4>

                <form id="externalTools" action="" class="ui form password" enctype="application/x-www-form-urlencoded" method="post">

                    <div class="field">

                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Tool</th>
                                <th>Value</th>
                                <!--th></th-->
                            </tr>
                            </thead>
                            <tbody class="externalTools" >
                            <tr th:each="element :  ${user.externalIDs}" th:attr="data-key=${element.key}" >
                                <td th:text="${element.key}">  <i class="github icon"> </i> Github</td>
                                <td>
                                    <input type="text" th:value="${element.value}" />
                                </td>
                                <!--td>
                                    <div class="ui negative basic button remove"  th:attr="data-key=${element.key}">
                                        <i class="remove alternate icon"></i>
                                        Remove
                                    </div>
                                </td-->
                            </tr>
                            <!-- tr>
                                <td>
                                    <div class="field" >
                                        <select class="ui dropdown" >
                                            <option disabled value="">Application</option>
                                            <option></option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input class="newAttrValue" type="text" name="newAttrValue" placeholder="new conf value"/>
                                </td>

                                <td>
                                    <div v-on:click="addField" class="ui positive basic button add">
                                    <i class="add alternate icon"></i>
                                    Add
                                    </div>
                                </td>
                            </tr!-->
                            </tbody>
                        </table>
                        <input name="formType" type="hidden" value="external">
                        <div name="submitButton" class="ui submit positive button " value="external" >Save</div>
                        <div class="ui error message"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/account/static/account.js"></script>

</div>
</div>

</body>
</html>