<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/timesheet')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta property="timesheet"
          th:year="${year}"
          th:week="${week}"
          th:userID="${userID}"
          th:actorID="${actorID}"
          th:locale="#{locale}"
    />
    <style> .hidden {
        display: none;
    } </style>
</head>

<body>

<div layout:fragment="content">


    <!-- Task creation modal -->
    <script type="text/x-template" id="task-modal-template">
        <div class="ui longer modal create-task ">
            <i class="close icon"></i>
            <div class="header">
                {{ modalTitle }}
            </div>
            <div class="content">
                <form class="ui form" enctype="application/x-www-form-urlencoded" id="task">
                    <div v-bind="formError" class="ui error message"></div>
                    <div class="field">
                        <label>Project</label>
                        <select v-model="task.projectID" class="select dropdown" name="projectID">
                            <option th:each="project: ${projectList}"
                                    th:text="${project.name}" th:value="${project.id}"
                            ></option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Task Name</label>
                        <input v-model="task.taskName" name="taskName" placeholder="Task Name" required type="text">
                    </div>
                    <div class="field">
                        <label>Task Description</label>
                        <input v-model="task.taskComments" name="taskComments" placeholder="Task Description"
                               type="text">
                    </div>
                    <div class=" two fields">
                        <div class="field">
                            <label>Task Start Date</label>
                            <input v-model="task.startDate" name="taskStartDate" placeholder="Task Name"
                                   required type="date">
                        </div>
                        <div class="field">
                            <label>Task End Date</label>
                            <input v-model="task.endDate" name="taskEndDate" placeholder="Task Name" required
                                   type="date">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Task Original Estimate</label>
                            <input v-model="task.originalEstimate" name="taskOriginalEstimate" placeholder="Task OE"
                                   required type="number">
                        </div>
                        <div class="field">
                            <label>Task type</label>
                            <select v-model="task.typeID" name="taskTypeID">
                                <option th:each="type: ${taskTypes}"
                                        th:text="${type.typeName}" th:value="${type.id}"
                                ></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button" th:text="#{cancel}">
                    Cancel
                </div>
                <div class="ui positive submit right labeled icon button">
                    Request
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </script>


    <!-- Timesheet Vue App view -->

    <div class="ui inverted dimmer">
        <div class="ui text loader" th:text="#{loading}">Loading</div>
    </div>
    <div id="timesheet" class="hidden">
        <div v-for="error in errorMessages" v-if="error.visible" class="ui container negative timesheet message">
            <i class="close icon" @click="error.visible = false; "></i>
            <div class="header"> {{ error.message }}</div>
        </div>
        <div v-for="success in successMessages" v-if="success.visible" class="ui container positive timesheet message">
            <i class="close icon" @click="success.visible = false; "></i>
            <div class="header"> {{ success.message }}</div>
        </div>
        <div class="ui segment controls timesheet-navigation-controls">


            <div class="actions">

                <!-- LABELS -->
                <div v-if="isTimesheetHasState(['PENDING_VALIDATION'])">
                    <div class="ui orange label" th:text="#{timesheet.status.pending.validation}">
                        Pending validation
                    </div>
                </div>
                <div v-if="isTimesheetHasState([null])  && !userIsActor">
                    <div class="ui orange label" th:text="#{timesheet.status.pending.submission}">
                        Pending submission
                    </div>
                </div>
                <div v-if="isTimesheetHasState(['VALIDATED'])">
                    <div class="ui green label" th:text="#{timesheet.status.validated}">
                        Week validated
                    </div>
                </div>


                <!-- ACTION BUTTONS -->
                <div v-if="isTimesheetHasState([null,'REJECTED']) && userIsActor"
                     v-bind:data-tooltip="!enableSubmitButton()?' Please submit previous week and make sure every working day imputation day total equals 1' : false"
                     data-position="right center">
                    <button
                            v-bind:data-week="week" v-bind:data-year="year"
                            v-on:click="submitMyWeek"
                            v-bind:class="{'ui positive button icons':true, 'disabled':(!enableSubmitButton())}"
                            type="submit">
                        <i class="paper plane icon"></i>
                        <span th:text="#{timesheet.submit}">Submit My Week</span>
                    </button>
                </div>
                <button v-if="(canValidate && !isTimesheetHasState(['VALIDATED'])) && !(userIsActor && !isTimesheetHasState(['PENDING_VALIDATION']))"
                        :class="{ disabled : !isTimesheetHasState(['PENDING_VALIDATION']) }"
                        v-on:click="validateWeek"
                        class="ui icons positive create-task button">
                    <i class="check icon"></i>
                    <span th:text="#{timesheet.validate}">Validate this week</span>
                </button>
                <button
                        v-if="isTimesheetHasState([null,'REJECTED']) && userIsActor"
                        v-on:click="showCreateTaskModal(null, null, $event)" class="ui primary create-task button icons"
                        th:text="#{timesheet.newtask}">
                    <i class="plus icon"></i>
                    <span th:text="#{timesheet.newtask}">New Task</span>
                </button>


            </div>

            <a class="ui labeled icon button"
               v-bind:href="userIsActor ? '/timesheet/'+lastWeekYear(year,week)+'/'+lastWeek(year,week) : '/timesheet/'+userID+'/'+lastWeekYear(year,week)+'/'+lastWeek(year,week) "
               :class="{ disabled : disablePrev }">
                <i class="left arrow icon"></i><span th:text="#{timesheet.previousweek}">Previous Week</span> </a>

            <span class="ui blue circular label"><span th:text="#{week}">Week</span> {{ week }}</span>

            <a class="ui right labeled icon button"
               v-bind:href="userIsActor ? '/timesheet/'+nextWeekYear(year,week)+'/'+nextWeek(year,week) : '/timesheet/'+userID+'/'+nextWeekYear(year,week)+'/'+nextWeek(year,week) "
               :class="{ disabled : disableNext }">
                <i class="right arrow icon"></i><span th:text="#{timesheet.nextweek}">Next Week</span></a>
        </div>

        <fieldset v-bind:disabled="!userIsActor || isTimesheetHasState(['VALIDATED', 'PENDING_VALIDATION'])">
            <form class="ui form" read enctype="application/x-www-form-urlencoded" method="post">
                <table class="ui celled table" style="text-align:center">
                    <thead>
                    <tr class="days">
                        <th class="two wide"></th>
                        <th class="wide one" style="text-align:center" v-for="day in days">
                            {{ new Date(day.date).toLocaleDateString(_LOCALE, {weekday: 'long'}).substring(0,3) }} {{
                            new Date(day.date).getDate() }}
                        </th>
                        <th class="wide one" style="background-color: white;" colspan="4"></th>
                    </tr>

                    <tr class="timesheet-head">
                        <th class="two wide" th:text="#{tasks}">Tasks</th>
                        <th class="wide one" style="text-align:center" v-for="day in days">
                            <div v-if="(day.dayNum != 7) && (day.dayNum != 1)"
                                 v-bind:id="day.date"
                                 v-bind:class="{'ui circular label large day-badge':true,
                                          'green':(getImputationSum(day.date).toFixed(1) == 1),
                                          'yellow':(getImputationSum(day.date).toFixed(1) < 1),
                                          'red':(getImputationSum(day.date).toFixed(1) > 1)}"
                                 style="margin-top: 5px;"
                                 v-bind:day-badge="day.date">
                                <p>{{ getImputationSum(day.date).toFixed(1) }}</p>
                            </div>
                            <div v-if="(day.dayNum == 7) || (day.dayNum == 1)"
                                 v-bind:id="day.date"
                                 v-bind:class="{'ui circular label large day-badge':true,
                                          'green':(getImputationSum(day.date).toFixed(1) == 1),
                                          'red':(getImputationSum(day.date).toFixed(1) > 1)}"
                                 style="margin-top: 5px;"
                                 v-bind:day-badge="day.date">
                                <p>{{ getImputationSum(day.date).toFixed(1) }}</p>
                            </div>
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.es}" rowspan="1"> ES
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.el}" rowspan="1"> EL
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.re}" rowspan="1"> RE
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.oe}" rowspan="1"> OE
                        </th>

                    </tr>

                    </thead>
                    <tbody>
                    <template v-for="(project, projectID) in projects">
                        <tr>
                            <td class="ui header left aligned project" v-bind:colspan="days.length + 5">
                                <a v-bind:href="'/projects/'+project.projectID+'/setup'">{{ project.projectName }}</a>
                            </td>
                        </tr>

                        <tr v-for="(task, taskID) in project.tasks">
                            <td>{{ task.taskName }}</td>
                            <td v-if="task.status == 'PENDING'" v-bind:colspan="days.length + 4" class="primary">
                                <i class="hourglass half icon"></i> Task pending manager validation
                            </td>
                            <td v-else-if="task.status == 'REFUSED'" v-bind:colspan="days.length" class="negative">
                                <i class="times icon"></i> Task have been rejected by a manager, please modify and
                                request again.
                                <button v-on:click="showCreateTaskModal(projectID, task, $event)"
                                        class="ui right labeled icon button">
                                    <i class="right arrow icon"></i> Edit
                                </button>
                            </td>
                            <td v-else v-for="day in days">
                                <div class="ui input">
                                    <input
                                            max="1"
                                            min="0"
                                            step="0.1"
                                            v-if="((day.date >= task.startDate || !task.startDate)) && ((day.date <= task.endDate) || (!task.endDate))"
                                            v-on:focusout="triggerUpdateTask"
                                            v-on:keyup.enter="triggerUpdateTask"
                                            v-bind:data-date="day.date"
                                            v-bind:data-task="taskID"
                                            v-bind:name="'task['+taskID+']day['+day.date+']'"
                                            v-bind:value="getImputation(day.date, taskID).toFixed(1)"
                                            v-bind:data-cy="project.projectName+'/'+task.taskName+'/'+day.date"
                                            type="number"/>
                                    <i class="search icon hidden" style="color: transparent;"></i>
                                </div>
                            </td>

                            <td colspan="4" v-if="projectID == 0"></td>
                            <template v-if="task.status!='PENDING'">
                                <td v-if="projectID > 0" v-bind:data-task-es="taskID">{{task.effortSpent.toFixed(1)}}
                                </td>
                                <td v-if="projectID > 0">
                                    <div class="ui input">
                                        <input
                                                min="0"
                                                step="0.1"
                                                name="effortLeft"
                                                v-on:focusout="triggerUpdateEffortLeft"
                                                v-bind:value="task.effortLeft.toFixed(1)"
                                                v-bind:data-task-effortLeft="taskID"
                                                type="number"
                                        />
                                        <i class="search icon hidden" style="color: transparent;"></i>

                                    </div>
                                </td>
                                <td v-if="projectID > 0"
                                    v-bind:data-task-rew="taskID">{{task.realEffort.toFixed(1)}}
                                </td>
                                <td v-if="projectID > 0" v-bind:data-task-ew="taskID">
                                    {{task.originalEstimate.toFixed(1)}}
                                </td>
                            </template>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </form>
        </fieldset>
        <task-modal
                :task="newTask"
                :form-error="formError"
                :modal-title="modalTitle">
        </task-modal>
    </div>
    <script src="timesheet.js"></script>
</div>

</body>
</html>