<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/timesheet')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta property="timesheet"
          th:year="${year}"
          th:week="${week}"
          th:userID="${userID}"
          th:actorID="${actorID}"
          th:locale="#{locale}"
    />

    <title th:text="${userScreenName + ' Timesheet'}"></title>
    <style> .hidden {
        display: none;
    } </style>
</head>

<body>

<div layout:fragment="content">


    <!-- Task creation modal -->
    <script type="text/x-template" id="task-modal-template" th:if="${projectList.size() > 0}">
        <div class="ui longer modal create-task ">
            <i class="close icon"></i>
            <div class="header">
                {{ modalTitle }}
            </div>
            <div class="content">
                <form class="ui form" enctype="application/x-www-form-urlencoded" id="task">
                    <div v-bind="formError" class="ui error message"></div>
                    <div class="field">
                        <label>Project</label>
                        <select v-model="task.projectID" class="select ui dropdown" name="projectID">
                            <option th:each="project: ${projectList}"
                                    th:text="${project.name}" th:value="${project.id}"
                            ></option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Task Name</label>
                        <input v-model="task.taskName" name="taskName" placeholder="Task Name" required type="text">
                    </div>
                    <div class="field">
                        <label>Task Description</label>
                        <input v-model="task.taskComments" name="taskComments" placeholder="Task Description"
                               type="text">
                    </div>
                    <div class=" two fields">
                        <div class="field">
                            <label>Task Start Date</label>
                            <input v-model="task.startDate" name="taskStartDate" placeholder="Task Name"
                                   required type="date">
                        </div>
                        <div class="field">
                            <label>Task End Date</label>
                            <input v-model="task.endDate" name="taskEndDate" placeholder="Task Name" required
                                   type="date">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Task Original Estimate</label>
                            <input v-model="task.originalEstimate" name="taskOriginalEstimate" placeholder="Task OE"
                                   required type="number">
                        </div>
                        <div class="field">
                            <label>Task type</label>
                            <select v-model="task.typeID" class="ui dropdown" name="taskTypeID">
                                <option th:each="type: ${taskTypes}"
                                        th:text="${type.typeName}" th:value="${type.id}"
                                ></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button" th:text="#{cancel}">
                    Cancel
                </div>
                <div class="ui positive submit right labeled icon button">
                    Request
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </script>


    <!-- Timesheet Vue App view -->

    <div class="ui inverted dimmer">
        <div class="ui text loader" th:text="#{loading}">Loading</div>
    </div>
    <div id="timesheet" class="hidden" style="overflow-x: scroll;" >

        <div v-for="error in errorMessages" v-if="error.visible" class="ui container negative timesheet message">
            <i class="close icon" @click="error.visible = false; "></i>
            <div class="header"> {{ error.message }}</div>
        </div>
        <div v-for="success in successMessages" v-if="success.visible" class="ui container positive timesheet message">
            <i class="close icon" @click="success.visible = false; "></i>
            <div class="header"> {{ success.message }}</div>
        </div>
        <div class="ui segment">
            <div class="ui controls stackable grid timesheet-menu" >
                <div class=" two column row">
                    <div class="left floated column" style="text-align: center;">
                        <!-- LABELS -->
                        <template v-if="isTimesheetHasState(['PENDING_VALIDATION'])">
                            <div class="ui orange label" th:text="#{timesheet.status.pending.validation}">
                                Pending validation
                            </div>
                        </template>
                        <template v-if="isTimesheetHasState([null])  && !userIsActor">
                            <div class="ui orange label" th:text="#{timesheet.status.pending.submission}">
                                Pending submission
                            </div>
                        </template>
                        <template v-if="isTimesheetHasState(['VALIDATED'])">
                            <div class="ui green label" th:text="#{timesheet.status.validated}">
                                Week validated
                            </div>
                        </template>
                        <template v-if="isTimesheetHasState(['REJECTED'])">
                            <div class="ui red label" th:text="#{timesheet.status.rejected}">
                                Week rejected
                            </div>
                        </template>


                        <!-- ACTION BUTTONS -->
                        <div style="display: inline-block"
                                v-if="isTimesheetHasState([null,'REJECTED']) && userIsActor"
                             v-bind:data-tooltip="!enableSubmitButton()?' Please submit previous week and make sure every working day imputation day total equals 1' : false"
                             data-position="right center">
                            <button
                                    v-bind:data-week="week" v-bind:data-year="year"
                                    v-on:click="submitMyWeek"
                                    v-bind:class="{'ui positive button icons':true, 'disabled':(!enableSubmitButton())}"
                                    type="submit">
                                <i class="paper plane icon"></i>
                                <span th:text="#{timesheet.submit}">Submit My Week</span>
                            </button>
                        </div>
                        <button v-if="canValidate && isTimesheetHasState(['PENDING_VALIDATION'])"
                                v-on:click="validateWeek"
                                class="ui icons positive create-task button">
                            <i class="check icon"></i>
                            <span th:text="#{timesheet.validate}">Validate this week</span>
                        </button>
                        <button v-if="canValidate && isTimesheetHasState(['PENDING_VALIDATION'])"
                                v-on:click="rejectWeek"
                                class="ui icons negative create-task button">
                            <i class="close icon"></i>
                            <span th:text="#{timesheet.reject}">Reject this week</span>
                        </button>
                        <button th:if="${projectList.size() > 0}"
                                v-if="isTimesheetHasState([null,'REJECTED']) && userIsActor"
                                v-on:click="showCreateTaskModal(null, null, $event)" class="ui primary create-task button icons"
                                th:text="#{timesheet.newtask}">
                            <i class="plus icon"></i>
                            <span th:text="#{timesheet.newtask}">New Task</span>
                        </button>

                    </div>
                    <div class="right floated column" style="text-align: center;">
                        <a class="ui labeled icon button"
                           v-bind:href="userIsActor ? '/timesheet/'+lastWeekYear(year,week)+'/'+lastWeek(year,week) : '/timesheet/'+userID+'/'+lastWeekYear(year,week)+'/'+lastWeek(year,week) "
                           :class="{ disabled : disablePrev }">
                            <i class="left arrow icon"></i><span th:text="#{timesheet.previousweek}">Previous Week</span> </a>

                        <span class="ui blue circular label"><span th:text="#{week}">Week</span> {{ week }}</span>

                        <a class="ui right labeled icon button"
                           v-bind:href="userIsActor ? '/timesheet/'+nextWeekYear(year,week)+'/'+nextWeek(year,week) : '/timesheet/'+userID+'/'+nextWeekYear(year,week)+'/'+nextWeek(year,week) "
                           :class="{ disabled : disableNext }">
                            <i class="right arrow icon"></i><span th:text="#{timesheet.nextweek}">Next Week</span></a>
                    </div>
                </div>
            </div>
        </div>

        <fieldset v-bind:disabled="!userIsActor || isTimesheetHasState(['VALIDATED', 'PENDING_VALIDATION'])">
            <form class="ui form" read enctype="application/x-www-form-urlencoded" method="post">
                    <table class="ui celled table unstackable" style="text-align:center">
                    <thead>
                    <tr class="days">
                        <th class="two wide" colspan="1">
                            <label th:text="${userScreenName}" v-if="!userIsActor"></label>
                        </th>
                        <th class="wide one" style="text-align:center" v-for="day in days">
                            {{ new Date(day.date).toLocaleDateString(_LOCALE, {weekday: 'long'}).substring(0,3) }} {{
                            new Date(day.date).getDate() }}
                        </th>
                        <th class="wide one" style="background-color: white;" :colspan="activeColumnsCount"><i class="cog icon" @click="showConfigModal()"></i></th>
                    </tr>

                    <tr class="timesheet-head">
                        <th class="two wide" th:text="#{tasks}">Tasks</th>
                        <th class="wide one" style="text-align:center" v-for="day in days">
                            <div v-if="(day.dayNum != 7) && (day.dayNum != 1)"
                                 v-bind:id="day.date"
                                 v-bind:class="{'ui circular label large day-badge':true,
                                          'green':(getImputationSum(day.date).toFixed(2) == 1),
                                          'yellow':(getImputationSum(day.date).toFixed(2) < 1),
                                          'red':(getImputationSum(day.date).toFixed(2) > 1)}"
                                 style="margin-top: 5px;"
                                 v-bind:day-badge="day.date">
                                <p>{{ parseFloat(getImputationSum(day.date).toFixed(2)) }}</p>
                            </div>
                            <div v-if="(day.dayNum == 7) || (day.dayNum == 1)"
                                 v-bind:id="day.date"
                                 v-bind:class="{'ui circular label large day-badge':true,
                                          'green':(getImputationSum(day.date).toFixed(2) == 1),
                                          'red':(getImputationSum(day.date).toFixed(2) > 1)}"
                                 style="margin-top: 5px;"
                                 v-bind:day-badge="day.date">
                                <p>{{ parseFloat(getImputationSum(day.date).toFixed(2)) }}</p>
                            </div>
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.es}" rowspan="1" v-if="columns.find(e => e.slot === 'es').visible"> ES
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.esw}" rowspan="1" v-if="columns.find(e => e.slot === 'esw').visible"> ESW
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.el}" rowspan="1" > EL
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.re}" rowspan="1" v-if="columns.find(e => e.slot === 're').visible"> RE
                        </th>
                        <th class="wide one" th:data-tooltip="#{timesheet.tooltips.oe}" rowspan="1" v-if="columns.find(e => e.slot === 'oe').visible"> OE
                        </th>

                    </tr>

                    </thead>
                    <tbody>
                    <template v-for="(project, projectID) in projects">

                        <tr>
                            <td class="ui header left aligned project" v-bind:colspan="days.length + 6">
                                <a v-bind:href="'/projects/'+project.projectID+'/setup'">{{ project.projectName }}</a>
                            </td>
                        </tr>

                        <tr v-for="(task, taskID) in project.tasks">
                            <!--Name -->
                            <td style="min-width: 7rem;">{{ task.taskName }}</td>

                            <td v-if="task.status == 'PENDING'" v-bind:colspan="days.length + 4" class="primary">
                                <i class="hourglass half icon"></i> <span th:text="#{timesheet.pending}"> Task pending manager validation </span>
                                <button @click="cancelTask($event, task)" class="ui mini icon button">Cancel<i class="ui icon cancel"></i></button>
                            </td>
                            <td v-else-if="task.status == 'REFUSED'" v-bind:colspan="days.length" class="negative">
                                <i class="times icon"></i> Task have been rejected by a manager, please modify and
                                request again.
                                <button v-on:click="showCreateTaskModal(projectID, task, $event)"
                                        class="ui right labeled icon button">
                                    <i class="right arrow icon"></i> Edit
                                </button>
                            </td>
                            <td v-else v-for="day in days">
                                <div class="ui input">
                                    <number-input
                                        :min="0" :max="1" :validation-step="0.05" :input-step="0.1" :trigger="triggerUpdateTask"
                                        :value="parseFloat(getImputation(day.date, taskID).toFixed(2))"
                                        v-if="((day.date >= task.startDate || !task.startDate)) && ((day.date <= task.endDate) || (!task.endDate))"
                                        v-bind:attrs="{
                                            date: day.date,
                                            task: taskID,
                                        }"
                                    ></number-input>
                                    <i class="search icon hidden" style="color: transparent;"></i>
                                </div>
                            </td>

                            <td :colspan="activeColumnsCount" v-if="projectID == 0"></td>
                            <template v-if="task.status!='PENDING'">
                                <td v-if="projectID > 0  && columns.find(e => e.slot === 'es').visible" v-bind:data-task-es="taskID" style="font-weight: bold">{{task.effortSpent.toFixed(1)}}
                                </td>
                                <td v-if="projectID > 0  && columns.find(e => e.slot === 'esw').visible" v-bind:data-task-esw="taskID">{{ getTaskESW(task).toFixed(1) }}
                                </td>
                                <td v-if="projectID > 0 ">
                                    <div class="ui input">
                                        <number-input
                                                :min="0" :validation-step="0.1" :input-step="0.1" :trigger="triggerUpdateEffortLeft"
                                                :value="parseFloat(task.effortLeft.toFixed(2))"
                                                v-bind:attrs="{
                                                    effortLeft: taskID
                                                }"
                                        ></number-input>
                                        <i class="search icon hidden" style="color: transparent;"></i>
                                    </div>
                                </td>
                                <td v-if="projectID > 0  && columns.find(e => e.slot === 're').visible"
                                    v-bind:data-task-rew="taskID" style="font-weight: bold">{{task.realEffort.toFixed(2)}}
                                </td>
                                <td v-if="projectID > 0  && columns.find(e => e.slot === 'oe').visible" v-bind:data-task-ew="taskID" style="font-weight: bold">
                                    {{task.originalEstimate.toFixed(2)}}
                                </td>
                            </template>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </form>
        </fieldset>
        <task-modal
                :task="newTask"
                :form-error="formError"
                :modal-title="modalTitle">
        </task-modal>
        <tmodal
                v-bind:title="'Column config'"
                v-bind:id="'timesheetConfigModal'">
            <template v-slot:content>
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Column</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(col, j) in columns" >
                        <td>
                            {{ col.slot }}
                        </td>
                        <td>
                            <input type="checkbox" id="checkbox" v-model="col.visible" v-bind:name="col.slot" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div  @click="changeDataTableConfig($event)" class="ui positive submit right labeled icon button">
                    Save
                    <i class="checkmark icon"></i>
                </div>
            </template>
        </tmodal>
    </div>
    <script src="timesheet.js"></script>
</div>

</body>
</html>