<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       layout:decorate="~{layouts/general.html}">

<head>
    <title layout:fragment="title">Home Page</title>
</head>
<body>

<div layout:fragment="content">

    <div class="ui card" th:each="plugin : ${plugins}">
        <div class="content">
            <div class="header" th:text="${plugin.getProjectName()}">Project Type Name</div>
        </div>
        <div class="content">
            <div th:text="${plugin.getProjectDescription()}"></div>
        </div>
        <div class="extra content">
            <a class="ui button" th:href="${plugin.getServletPath()}">Create Project</a>
        </div>
    </div>

</div>

</body>
</html>