<!DOCTYPE html>

<html layout:decorate="~{layouts/general.html(path='/')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>


<div layout:fragment="content">

    <div class="ui segment">

        <div class="ui">

            <div >
                <div class="ui segment controls middle aligned center aligned grid" style="padding: 1.5rem 0 1.5rem 0;">
                    <div class="column">
                        <div class="ui statistic">
                            <div class="label">
                                You are member of
                            </div>
                            <div class="value" th:text="${nb_projects}"></div>
                            <div class="label">
                                Projects
                            </div>
                        </div>

                        <div class="ui statistic">
                            <div class="label">
                                You are assigned to
                            </div>
                            <div class="value" th:text="${nb_tasks}"></div>
                            <div class="label">
                                Tasks
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="ui icon message">
                <i class="bug icon"></i>
                <div class="content">
                    <div class="header">
                        An issue ?
                    </div>
                    <p>
                        This is a beta version.
                        Go to <a href="https://github.com/TimeboardIO/timeboard/issues">https://github.com/TimeboardIO/timeboard/issues</a> to request a support</p>
                </div>
            </div>

            <div>
                <table class="ui table" style="white-space: nowrap;">
                    <thead class="mobile hide">
                    <tr class="center aligned">
                        <th class="three wide">Week</th>
                        <th class="six wide">Period</th>
                        <th class="one wide">Days</th>
                        <th class="one wide"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="center aligned" th:each="week : ${weeks}">
                        <td data-label="Week">
                            <a style="color: black" th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} "
                               th:text="${'Week '+week.number}"></a>
                        </td>
                        <td data-label="Period">
                            <a th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} ">
                                <span th:text="${#dates.format(week.firstDay, 'dd-MM-yyyy')}"></span>
                                <i class="angle right icon"></i>
                                <span th:text="${#dates.format(week.lastDay, 'dd-MM-yyyy')}"></span>
                            </a>
                        </td>
                        <td data-label="Days">
                            <a th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} ">
                                <div class="ui circular label large day-badge green" th:if="${week.imputationSum >= 5}"
                                ><p th:text="${week.imputationSum}"></p></div>
                                <div class="ui circular label large day-badge red" th:if="${week.imputationSum < 5}"
                                ><p th:text="${week.imputationSum}"></p></div>
                            </a>
                        </td>
                        <td data-label="Validated">
                            <a th:if="${week.isValidationStatus('REJECTED')}"
                               th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} "
                               class="ui red right label">
                                Rejected
                            </a>
                            <a th:if="${week.isValidationStatus('VALIDATED')}"
                               th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} "
                               class="ui right label teal">
                                Validated
                            </a>
                            <a th:if="${week.isValidationStatus('PENDING_VALIDATION')}"
                               th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} "
                               class="ui orange right label">
                                Pending Validation
                            </a>
                            <a th:if="${week.isValidationStatus('PENDING_SUBMISSION')}"
                               th:href="@{/timesheet/{year}/{week}(week=${week.number}, year=${week.year})} " class="ui right label">
                                Pending Submission
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </div>
</div>

</body>
</html>