<!DOCTYPE html>

<html layout:decorate="~{core-ui:layouts/general.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>


<div layout:fragment="content">

    <div class="ui horizontal segments" style="margin-top:3em; margin-bottom: 3em;">

        <div class="ui segment middle aligned center aligned grid" >
            <div class="column">

                <div class="ui statistic">
                    <div class="label">
                        You are member of
                    </div>
                    <div class="value" th:text="${nb_projects}"></div>
                    <div class="label">
                        Projects
                    </div>
                </div>

                <div class="ui statistic">
                    <div class="label">
                        You are assigned to
                    </div>
                    <div class="value" th:text="${nb_tasks}"></div>
                    <div class="label">
                        Tasks
                    </div>
                </div>

            </div>
        </div>

        <div class="ui segment imputation-table">
            <table class="ui table">
                <thead>
                <tr>
                    <th class="six wide">Week</th>
                    <th class="four wide">Days</th>
                    <th class="two wide">Validated</th>
                </tr>
                </thead>
                <tbody th:each="week : ${weeks}">
                    <tr>
                        <td data-label="Week" >
                            <a style="color: black" th:href="@{/timesheet(week=${week.number}, year=${week.year})} " th:text="${'Week '+week.number}"></a>
                        </td>
                        <td data-label="Days">
                            <a th:href="@{/timesheet(week=${week.number}, year=${week.year})} ">
                                <div th:if="${week.imputationSum >= 5}" class="ui circular label large day-badge green" th:text="${week.imputationSum}"></div>
                                <div th:if="${week.imputationSum < 5}" class="ui circular label large day-badge red" th:text="${week.imputationSum}"></div>
                            </a>
                        </td>
                        <td data-label="Validated">
                            <a th:href="@{/timesheet(week=${week.number}, year=${week.year})} ">
                                <i class="check icon green" th:if="${week.isValidated}"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>